@page "/mauin/create"
@using System.Text.Json
@using VTTGROUP.Blazor.Components.Pages.Uploads
@using VTTGROUP.Domain.Helpers
@using VTTGROUP.Domain.Model.MauIn
@using VTTGROUP.Infrastructure.Database
@using VTTGROUP.Infrastructure.Services
@using VTTGROUP.Domain.Model
@using VTTGROUP.Blazor.Components.CompChilds

@inject IBaseService BaseService
@inject MauInService MauInService
@inject IJSRuntime JS
@inject NavigationManager Nav
<EditForm id="formDuAn" EditContext="@editContext">
    <h1 class="legend-title">MẪU IN VĂN BẢN</h1>
    <div class="container-form">
        <MessageErrorForm />
        <div class="container-tabs">
            <div class="wapper-content-tab">
                <div data-id="1" class="tab-content-item actived-tab" id="tab1">
                    <div class="col-lg-10 mx-auto row">
                        <InfoList Items="@InfoItems" />
                        <div class="wapper-input col-lg-12">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Dự án <i class="point-validate">*</i></span>
                                    <select id="MaDuAn" @bind="Record.MaDuAn" class="form-control input-validation">
                                        <option value="">-- Chọn dự án --</option>
                                        @foreach (var item in ListDA)
                                        {
                                            <option value="@(item.MaDuAn)">@item.TenDuAn</option>
                                        }
                                    </select>
                                    <span class="error-validation">Vui lòng chọn dự án</span>
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Tên mẫu in <i class="point-validate">*</i></span>
                                    <InputText class="form-control input-validation" @bind-Value="Record.TenMauIn" id="TenMauIn" />
                                    <span class="error-validation">Vui lòng nhập tên mẫu in</span>
                                </div>
                            </div>
                        </div>
                        
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Loại mẫu in <i class="point-validate">*</i></span>
                                    <select id="LoaiMauIn" @bind="Record.LoaiMauIn" class="form-control input-validation">
                                        <option value="">Chọn loại mẫu in</option>
                                        @foreach (var item in ListLMI)
                                        {
                                            <option value="@(item.MaLoaiMauIn)">@item.TenLoaiMauIn</option>
                                        }
                                    </select>
                                    <span class="error-validation">Vui lòng chọn loại mẫu in</span>
                                </div>
                            </div>
                        </div>                    
                        <div class="wapper-input col-lg-12">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Tập tin đính kèm</span>
                                    <div class="contatiner-upload-files">
                                        <FileUploader AllowExtensions="allowedExtensions"
                                                      MaxFileSize="10485760"
                                                      AllowMultiple="true"
                                                      OnFilesChanged="HandleFiles" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-12">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Ghi chú</span>
                                    <textarea class="textarea-input input-validation" cols="20" name="MoTa" id="MoTa" rows="3" tabindex="2" @bind="@Record.NoiDung"></textarea>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-button">
        <div class="actions-left">
            <UiButton Preset="back" Variant="secondary" OnClick="BackUrl" />
        </div>
        <div class="actions-right">
            <UiButton Preset="save" Variant="primary" OnClick="SubmitFormJs" />
        </div>

    </div>
</EditForm>
@code {
    private EditContext editContext;
    private MauInModel? Record = new();
    private List<DaDanhMucDuAn> ListDA = new();
    private List<HtLoaiMauIn> ListLMI = new();
    private string[] allowedExtensions = FileTypeSets.Document;
    private List<InfoItem> InfoItems = new();
    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(Record);
    }
  
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BaseService.CheckPermissionAsync("MauIn", VuViec.Them.GetDescription());
            await JS.InvokeVoidAsync("select2Helper.initSelectChange", "MaDuAn", "Chọn dự án", true);
            await JS.InvokeVoidAsync("select2Helper.initSelectChange", "LoaiMauIn", "Chọn loại mẫu in", true);
            var result = await MauInService.GetByIdAsync(string.Empty);
            if (result.Status)
            {
                Record = (MauInModel)result.Data;
                InfoItems = new()
                {
                    new() { Text="Mã phiếu", Value=Record.MaMauIn},
                    new() { Text="Ngày lập", Value=string.Format("{0:dd/MM/yyyy}", Record.NgayLap)},
                    new() { Text="Người lập", Value=Record.NguoiLap.HoVaTen},                  
                };
            }
            ListDA = await MauInService.GetByDuAnAsync();
            ListLMI = await MauInService.GetByLoaiMauInAsync();
            StateHasChanged();
        }
    }

    private async Task SubmitFormJs()
    {
        var dotNetRef = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("validateFormBlazor", "formDuAn", dotNetRef);

    }

    [JSInvokable]
    public async Task SubmitForm()
    {
        var result = await MauInService.SaveMauInAsync(Record);
        await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
        if (result.Status)
        {
            Nav.NavigateTo($"/mauin/edit/{Record.MaMauIn}");
            StateHasChanged();
        }
    }
    public void HandleFiles(List<UploadedFileModel> files)
    {
        Record.Files = files;
    }
    private void BackUrl()
    {
        Nav.NavigateTo("/mauin");

    }
}
