@using VTTGROUP.Blazor.Components.CompChilds
@using VTTGROUP.Blazor.Components.Pages.Paging
@using VTTGROUP.Domain.Model
@using VTTGROUP.Domain.Model.PhieuXacNhanThanhToan
@using VTTGROUP.Infrastructure.Database
@using VTTGROUP.Infrastructure.Services
@inject DMKhachHangService DMKhachHangService
@inject IBaseService BaseService
@inject SanPhamService SanPhamService
@inject PhieuXacNhanThanhToanService PhieuXacNhanThanhToanService
@inject IJSRuntime JS
<div class="modal fade" id="PopupNCDModal" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">
                    Danh sách nguồn chuyển đổi
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body modal-wraper" id="modal-body">
                <div class="flex items-center gap-3 my-3">
                    <div class="w-[360px] md:w-[480px]">
                        <InputSearch @bind-Value="search" OnSearch="Search" />
                    </div>
                    <div class="ml-auto h-11 flex items-center">
                        <Pagination Page="@_page"
                                    TotalPages="@totalPage"
                                    TotalItems="@totalCount"
                                    OnPageChanged="HandlePageChanged"
                                    OnPageSizeChanged="HandlePageSizeChanged" />
                    </div>
                </div>
                <div class="container-table-detail">
                    <div class="container-table-fixed has-paging">
                        <table class="tbl table-form table-detail treeTable" id="table-data">
                            <thead>
                                <tr class="cls_custome_back">
                                    <th style="width: 50px">
                                        STT
                                    </th>
                                    <th style="width: 130px">
                                        Mã phiếu
                                    </th>
                                    <th style="width: 150px">
                                        Ngày
                                    </th>
                                    <th style="width: 200px">
                                        Nội dung
                                    </th>
                                    <th style="width: 150px">
                                        Số tiền
                                    </th>
                                    <th style="width: 150px">
                                        Số tiền đã cấn trừ
                                    </th>
                                    <th style="width: 150px">
                                        Số tiền còn lại
                                    </th>
                                    <th style="width: 50px" class="text-center">
                                        <input type="checkbox" class="form-check-input" checked="@IsSelectAll"
                                               @onchange="(e) => OnCheckboxAllChanged(e)" />
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="content-table">
                                @if (ListCN != null && ListCN.Count > 0)
                                {
                                    @foreach (var item in ListCN)
                                    {
                                        <tr class="initialized">
                                            <td style="text-align:center">
                                                <span>@item.Stt</span>
                                            </td>
                                            <td>
                                                <div class="item-phieu" @onclick="() => OnViewPCN(item.MaPhieu)">@item.MaPhieu</div>
                                            </td>
                                            <td>  @string.Format("{0:dd/MM/yyyy}", item.Ngay)</td>
                                            <td>@item.NoiDung</td>
                                            <td style="text-align:right">@string.Format("{0:N2}", item.SoTien)</td>
                                            <td style="text-align:right">@string.Format("{0:N2}", item.SoTienDaCanTru)</td>
                                            <td style="text-align:right">@string.Format("{0:N2}", item.SoTienConLai)</td>
                                            <td class="text-center">
                                                <input type="checkbox" class="form-check-input"
                                                       checked="@item.IsSelected"
                                                       @onchange="(e) => OnCheckboxChanged(item, e)" />
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        @if (ListCN == null || !ListCN.Any())
                        {
                            <div class="p-2">Không có dữ liệu</div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button button-action button-luu-phieu" @onclick="TriggerChoose">
                    Chọn
                </button>
                <button type="button" class="button button-action button-huy" data-bs-dismiss="modal" @onclick="OnClosePupop">Đóng</button>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<List<PhieuXacNhanThanhToanNguonChuyenDoiModel>?> OnSelectedNCD { get; set; }
    [Parameter]
    public string? LoaiPhieu { get; set; }
    public string? MaKhachHang { get; set; }
    public string? MaDuAn { get; set; }
    private bool isLoading = false;
    int _page = 1;
    int _pageSize = 10;
    int totalPage = 1;
    int totalCount;
    string? search;
    List<PhieuXacNhanThanhToanNguonChuyenDoiModel> ListCN = new();
    private bool IsSelectAll = false;
    List<PhieuXacNhanThanhToanNguonChuyenDoiModel> listSelecteds = new();

    private async Task TriggerChoose()
    {
        var listMaCanHo = ListCN
           .Where(x => x.IsSelected)
           .ToList();
        if (listMaCanHo.Any())
        {
            listSelecteds = listMaCanHo;
            await OnSelectedNCD.InvokeAsync(listSelecteds);
            await JS.InvokeVoidAsync("showToast", "Thông báo", "Chọn nguồn chuyển đổi thành công", true);
        }
        else
        {
            await JS.InvokeVoidAsync("showToast", "Thông báo", "Không có phiếu nguồn chuyển đổi nào được chọn", false);
        }
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
        }
    }

    private async Task LoadDanhSachCongNoData()
    {
        isLoading = true;
        try
        {
            var (data, total) = await PhieuXacNhanThanhToanService.GetDanhSachNguonChuyenDoiAsync(string.Empty, MaDuAn, LoaiPhieu, MaKhachHang, _page, _pageSize, search);
            ListCN = data;
            totalCount = total;
            totalPage = (int)Math.Ceiling((double)totalCount / _pageSize);
        }
        finally
        {
            isLoading = false;
        }
    }
    private async Task HandlePageChanged(int newPage)
    {
        _page = newPage;
        await LoadDanhSachCongNoData();
    }

    private async Task HandlePageSizeChanged(int newPageSize)
    {
        _pageSize = newPageSize;
        _page = 1;
        await LoadDanhSachCongNoData(); // Gọi lại API với PageSize mới
    }

    private async Task Search(string? keyword)
    {
        search = keyword;
        _page = 1;
        await LoadDanhSachCongNoData();
    }

    public async Task Show(string maDuAn, string loaiPhieu, string maKhachHang)
    {
        MaDuAn = maDuAn;
        LoaiPhieu = loaiPhieu;
        MaKhachHang = maKhachHang;
        // 👉 Reset dữ liệu filter cũ
        search = string.Empty;
        ListCN = new List<PhieuXacNhanThanhToanNguonChuyenDoiModel>();

        await LoadDanhSachCongNoData();

        // 👉 Show popup
        await JS.InvokeVoidAsync("bootstrapModal.show", "#PopupNCDModal");
        await JS.InvokeVoidAsync("modalHelper.makeAllDraggable");
        StateHasChanged();
    }

    private async Task OnCheckboxAllChanged(ChangeEventArgs e)
    {
        IsSelectAll = (bool)e.Value;
        foreach (var item in ListCN)
        {
            item.IsSelected = IsSelectAll;
        }
    }

    private async Task OnCheckboxChanged(PhieuXacNhanThanhToanNguonChuyenDoiModel item, ChangeEventArgs e)
    {
        item.IsSelected = (bool)e.Value;
        IsSelectAll = ListCN.All(x => x.IsSelected);
    }

    public async Task OnClosePupop()
    {
        IsSelectAll = false;
        foreach (var item in ListCN)
        {
            item.IsSelected = IsSelectAll;
        }
        // 👉 Reset dữ liệu filter cũ
        search = string.Empty;
        StateHasChanged();
    }

    private async Task OnViewPCN(string maPhieu)
    {
        await JS.InvokeVoidAsync("openInNewTab", "/phieugiucho/edit/" + maPhieu);
    }

    private async Task OnViewKH(string maKhachHang)
    {
        await JS.InvokeVoidAsync("openInNewTab", "/khachhang/edit/" + maKhachHang);
    }


}
