@using VTTGROUP.Blazor.Components.CompChilds
@using VTTGROUP.Blazor.Components.Pages.Paging
@using VTTGROUP.Domain.Model
@using VTTGROUP.Domain.Model.QuyTrinhDuyet
@using VTTGROUP.Infrastructure.Database
@using VTTGROUP.Infrastructure.Services
@inject QuyTrinhDuyetService QuyTrinhDuyetService
@inject IJSRuntime JS
<div class="modal fade" id="PopupChonBuocDuyet" tabindex="-1" aria-hidden="true">
    <div class="modal-dialog modal-xl modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Danh sách bước duyệt</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng"></button>
            </div>
            <div class="modal-body modal-wraper" id="modal-body">
                <div class="flex items-center gap-3 my-3">
                    <div class="w-[360px] md:w-[480px]">
                        <InputSearch @bind-Value="search" OnSearch="Search" />
                    </div>
                    <div class="ml-auto h-11 flex items-center">
                        <Pagination Page="@_page"
                                    TotalPages="@totalPage"
                                    TotalItems="@totalCount"
                                    OnPageChanged="HandlePageChanged"
                                    OnPageSizeChanged="HandlePageSizeChanged" />
                    </div>
                </div>
                <div class="container-table-detail">
                    <div class="container-table-fixed has-paging">
                        <table class="tbl table-form table-detail treeTable" id="table-data">
                            <thead>
                                <tr class="cls_custome_back">
                                    <th style="width: 50px" class="text-center">
                                        STT
                                    </th>
                                    <th style="width: 130px" class="text-center">
                                        Mã bước duyệt
                                    </th>
                                    <th style="width: 130px" class="text-center">
                                        Tên bước duyệt
                                    </th>
                                    <th style="width: 130px" class="text-center">
                                        Tên hiển thị
                                    </th>
                                    <th style="width: 90px">
                                        &nbsp;
                                    </th>
                                </tr>
                            </thead>
                            <tbody class="content-table">
                                @if (listKH != null && listKH.Count > 0)
                                {
                                    @foreach (var item in listKH)
                                    {
                                        <tr class="initialized">
                                            <td style="text-align:center">
                                                <span>@item.STT</span>
                                            </td>
                                            <td><div class="item-phieu">@item.MaBuocDuyet</div></td>
                                            <td>
                                                <span>@item.TenBuocDuyet</span>
                                            </td>
                                            <td>
                                                <span>@item.TenHienThi</span>
                                            </td>
                                            <td class="text-center">
                                                <div class="d-flex justify-content-center align-items-center">
                                                    <div class="icon-button" data-title="Chọn" data-position="left">
                                                        <a href="javascript:void(0)" @onclick="() => TriggerChoose(item)"><span><i class="bi bi-check-circle"></i></span></a>
                                                    </div>
                                                </div>
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                        @if (listKH == null || !listKH.Any())
                        {
                            <div class="p-2">Không có dữ liệu</div>
                        }
                    </div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="button button-action button-huy" data-bs-dismiss="modal">Đóng</button>
            </div>
        </div>
    </div>
</div>
@code {
    [Parameter]
    public EventCallback<BuocDuyetPagingDto?> OnSelected { get; set; }
    private string? selectedItem;
    private bool isLoading = false;
    int _page = 1;
    int _pageSize = 10;
    int totalPage = 1;
    int totalCount;
    string? search;
    List<BuocDuyetPagingDto> listKH = new();

    protected override async Task OnInitializedAsync()
    {
        await LoadData();
    }

    private async Task TriggerChoose(BuocDuyetPagingDto? item)
    {
        if (OnSelected.HasDelegate)
            await OnSelected.InvokeAsync(item);
        await JS.InvokeVoidAsync("bootstrapModal.hide", "#PopupChonBuocDuyet");
    }

    private async Task LoadData()
    {
        isLoading = true;
        try
        {
            var (data, total) = await QuyTrinhDuyetService.GetPagingBuocDuyetAsync(_page, _pageSize, search);
            listKH = data;
            totalCount = total;
            totalPage = (int)Math.Ceiling((double)totalCount / _pageSize);
        }
        finally
        {
            isLoading = false;
        }
    }
    private async Task HandlePageChanged(int newPage)
    {
        _page = newPage;
        await LoadData();
    }

    private async Task HandlePageSizeChanged(int newPageSize)
    {
        _pageSize = newPageSize;
        _page = 1;
        await LoadData(); // Gọi lại API với PageSize mới
    }

    private async Task Search(string? keyword)
    {
        search = keyword;
        _page = 1;
        await LoadData();
    }
}
