@page "/loaicanho"
@using VTTGROUP.Blazor.Components.CompChilds
@using VTTGROUP.Blazor.Components.Pages.Paging
@using VTTGROUP.Domain.Helpers
@using VTTGROUP.Domain.Model.LoaiCanHo
@using VTTGROUP.Domain.Model.SanPham
@using VTTGROUP.Domain.Model.Tang
@using VTTGROUP.Infrastructure.Database
@using VTTGROUP.Infrastructure.Services
@inject LoadingService Loading
@inject LoaiCanHoService LoaiCanHoService
@inject BlockService BlockService
@inject IBaseService BaseService
@inject IJSRuntime JS
@inject NavigationManager Nav
@inject IWebHostEnvironment _env

<h1 class="legend-title">Loại căn hộ</h1>
<div class="rounded-xl bg-white p-4 space-y-3 wraper-content-page">
    <div class="relative z-50">
        <div class="flex flex-wrap items-end gap-3">
            <UiSelect Icon="mdi mdi-office-building-outline"
                      Placeholder="Chọn dự án"
                      Items="ListDA.Select(x => new UiSelect.SelectItem(x.MaDuAn!, x.TenDuAn!))"
                      @bind-Value="selectedMaDuAn"
                      OnChange="OnDuAnChanged" />
            <div class="ml-auto flex items-center gap-2">
                <AddButton Text="Loại căn hộ" OnClick="Insert" />
                <button style="
        display: inline-flex;
        align-items: center;
        gap: 8px;
        border: 1px solid #EDAD0F;
        padding: 0 12px;
        border-radius: 8px;
        height: 40px;
        background-color: #FDF7E7;
        color: #EDAD0F;
        font-weight: 600;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        cursor: pointer;
    "
                        title="Import"
                        @onclick="Import">
                    <i class="mdi mdi-cloud-upload"
                       style="
           color: #EDAD0F;
           font-size: 16px;
       ">
                    </i>
                    <span style="
           color: #EDAD0F;
           font-weight: 600;
           font-size: 16px;
           font-family: 'Inter', sans-serif;
       ">
                        Import
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="flex items-center gap-3 my-3">
        <div class="w-[360px] md:w-[480px]">
            <InputSearch @bind-Value="search" OnSearch="Search" />
        </div>
        <div class="ml-auto h-11 flex items-center">
            <Pagination Page="@_page"
                        TotalPages="@totalPage"
                        TotalItems="@totalCount"
                        OnPageChanged="HandlePageChanged"
                        OnPageSizeChanged="HandlePageSizeChanged" />
        </div>
    </div>
    <SelectedDeleteList Count="@SelectedCount" OnRemoveList="RemoveSelectedAsync" OnDeleteList="@DeleteSelectedAsync" />
    <div class="container-table-detail">
        <div class="container-table-fixed has-paging">
            <table class="tbl table-form table-detail treeTable" id="table-data">
                <thead>
                    <tr class="cls_custome_back">
                        <th style="width: 40px" class="text-center" rowspan="2">
                            <input type="checkbox" class="form-check-input" checked="@IsSelectAll"
                                   @onchange="(e) => OnCheckboxAllChanged(e)" />
                        </th>
                        <th style="width: 40px" class="text-center">
                            STT
                        </th>
                        <th style="width: 120px" class="text-center">Mã loại căn</th>
                        <th style="width: 180px" class="text-center">Tên loại căn</th>
                        <th style="width: 160px" class="text-center">Dự án</th>
                        @*  <th style="width: 160px" rowspan="2" class="text-center">Thiết kế</th>
                        <th colspan="3" style="text-align:center">Diện tích</th>
                        <th style="width: 80px; text-align:center" rowspan="2">Số PN</th>
                        <th style="width: 90px;" rowspan="2" class="text-center">Hệ số</th>
                        <th style="width: 140px;" rowspan="2">Số lượng căn hộ</th> *@
                        <th style="width: 90px">&nbsp;</th>
                    </tr>
                    @*  <tr class="cls_custome_back">
                        <th style="width: 90px; text-align:center">Tim tường</th>
                        <th style="width: 90px; text-align:center">Lọt lòng</th>
                        <th style="width: 90px; text-align:center">Sân vườn</th>
                    </tr> *@
                </thead>

                <tbody class="content-table">
                    @if (ChiTietLCH != null && ChiTietLCH.Any())
                    {
                        foreach (var item in ChiTietLCH)
                        {
                            <tr class="initialized">
                                <td class="text-center">
                                    @if (item.SoLuongCanHo == 0)
                                    {
                                        <input type="checkbox" class="form-check-input"
                                               checked="@item.IsSelected"
                                               @onchange="(e) => OnCheckboxChanged(item, e)" />
                                    }
                                </td>
                                <td style="text-align:center">
                                    <span>@item.STT</span>
                                </td>
                                <td>
                                    <span>
                                        @item.MaLoaiCanHo
                                    </span>
                                </td>
                                <td><span>@item.TenLoaiCanHo</span></td>
                                <td><span>@item.TenDuAn</span></td>
                                @* <td><span>@item.TenLoaiThietKe</span></td>

                                <td style="text-align:right">@string.Format("{0:N2}", item.DienTich)</td>
                                <td style="text-align:right">@string.Format("{0:N2}", item.DienTichLotLong)</td>
                                <td style="text-align:right">@string.Format("{0:N2}", item.DienTichSanVuon)</td>

                                <td style="text-align:center">@string.Format("{0:#,#0}", item.SoPhongNgu)</td>
                                <td style="text-align:right">@string.Format("{0:#,#0.####}", item.HeSoDienTich)</td>

                                <td style="text-align:right">
                                    <div class="item-phieu" style="float:right"><span class="input-value" @onclick="() => OnViewSanPham(item)"> @string.Format("{0:N0}", item.SoLuongCanHo)</span></div>
                                </td>
 *@
                                <td class="text-center">
                                    <div class="d-flex justify-content-center align-items-center flex-column">
                                        @*  <div class="icon-button" data-title="Thêm sản phẩm" data-position="left">
                                            <a href="javascript:void(0)" @onclick="() => ThemSanPham(item)">
                                                <span><i class="mdi mdi-plus-circle-outline"></i></span>
                                            </a>
                                        </div> *@
                                        <div class="icon-button" data-title="Cập nhật" data-position="left">
                                            <a href="javascript:void(0)" @onclick="() => OnEditRecord(item.MaLoaiCanHo!)">
                                                <span><i class="mdi mdi-pencil"></i></span>
                                            </a>
                                        </div>
                                        @if (item.SoLuongCanHo == 0)
                                        {
                                            <div class="icon-button" data-title="Xóa" data-position="left">
                                                <a href="javascript:void(0)" @onclick="() => ShowConfirmDelete(item.MaLoaiCanHo!)">
                                                    <span><i class="mdi mdi-delete"></i></span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>

            @if (ChiTietLCH == null || !ChiTietLCH.Any())
            {
                <div class="p-2">Không có dữ liệu</div>
            }
        </div>
    </div>
    <ConfirmDeleteModal ModalId="confirmDeleteModal"
                        Title="Xác nhận xoá thông tin">
        <Description>
            <p class="delete-desc">
                Bạn có chắc muốn xóa loại diện tích <strong>@selectedMaCongViec</strong> không?
            </p>
        </Description>

        <DeleteButton>
            <button type="button" class="btn-delete" @onclick="ConfirmDelete">
                Xoá vĩnh viễn
            </button>
        </DeleteButton>
    </ConfirmDeleteModal>
    <ConfirmDeleteModal ModalId="confirmDeleteListModal"
                        Title="Xác nhận xoá thông tin">
        <Description>
            <p class="delete-desc">
                Bạn có chắc muốn xóa danh sách loại diện tích này không?
            </p>
        </Description>

        <DeleteButton>
            <button type="button" class="btn-delete" @onclick="ConfirmDeleteList">
                Xoá vĩnh viễn
            </button>
        </DeleteButton>
    </ConfirmDeleteModal>
    @*  <PopupSanPham OnSelected="SelectedSanPham" @ref="popupRef" /> *@
    <ImportFileLoaiCanModal DuAnOptions="@ListDA" @ref="importFileModalRef" OnUploaded="HandleFileUpload" />
</div>

@code {
    private DotNetObjectReference<Index>? _dotNetRef;
    private List<LoaiCanHoPagingDto> ChiTietLCH = new();
    private string? selectedMaCongViec;
    private string? selectedMaDuAn;
    private bool isLoading = false;
    private List<DaDanhMucDuAn> ListDA = new();
    string? search;
    int _page = 1;
    int _pageSize = 10;
    int totalPage = 1;
    int totalCount;
    //  private PopupSanPham? popupRef;
    private string LoaiXuLy = "";
    private string SelectedMaLoaiCanHo = "";
    int SelectedCount => ChiTietLCH?.Count(x => x.IsSelected) ?? 0;
    private bool IsSelectAll = false;
    private ImportFileLoaiCanModal? importFileModalRef;
    // Chặn re-init JS
    private bool _jsInited;
    /* --------- 1) LOAD DỮ LIỆU Ở ĐÂY --------- */
    protected override async Task OnInitializedAsync()
    {
        await BaseService.CheckPermissionAsync("LoaiCanHo", VuViec.Xem.GetDescription());
        ListDA = await BlockService.GetByDuAnAsync();
        await LoadData(); // Blazor tự render lại sau khi hàm này xong → không cần StateHasChanged()
    }


    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_jsInited)
        {
            _dotNetRef ??= DotNetObjectReference.Create(this);

            await JS.InvokeVoidAsync("select2Helper.initSelectChange", "MaDuAn", "Chọn dự án", true);
            await JS.InvokeVoidAsync("modalHelper.makeAllDraggable");
            _jsInited = true;

            // await BaseService.CheckPermissionAsync("LoaiCanHo", VuViec.Xem.GetDescription());
            // _dotNetRef = DotNetObjectReference.Create(this);
            // ListDA = await BlockService.GetByDuAnAsync();
            // await JS.InvokeVoidAsync("select2Helper.initSelectChange", "MaDuAn", "Chọn dự án", true);
            // await JS.InvokeVoidAsync("modalHelper.makeAllDraggable");
            // await LoadData();
            // StateHasChanged();
        }
    }

    private async Task ShowConfirmDelete(string maBlock)
    {
        await BaseService.CheckPermissionAsync("LoaiCanHo", VuViec.Xoa.GetDescription());
        selectedMaCongViec = maBlock;
        await JS.InvokeVoidAsync("bootstrapModal.show", "#confirmDeleteModal");
    }

    private async Task OnEditRecord(string maLCH)
    {
        Nav.NavigateTo($"/loaicanho/edit/{maLCH}");
    }
    private void Insert()
    {
        Nav.NavigateTo("/loaicanho/create");
        return;
    }

    private async Task OnDuAnChanged(string? maDuAn)
    {
        if (isLoading) return;

        selectedMaDuAn = string.IsNullOrWhiteSpace(maDuAn) ? null : maDuAn;
        _page = 1;
        await LoadData();
    }

    private async Task HandleFileUpload()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        isLoading = true;
        try
        {
            var (data, total) = await LoaiCanHoService.GetPagingAsync(selectedMaDuAn, _page, _pageSize, search);
            ChiTietLCH = data;
            totalCount = total;
            totalPage = (int)Math.Ceiling((double)totalCount / _pageSize);
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task HandlePageChanged(int newPage)
    {
        _page = newPage;
        await LoadData();
    }

    private async Task HandlePageSizeChanged(int newPageSize)
    {
        _pageSize = newPageSize;
        _page = 1;
        await LoadData(); // Gọi lại API với PageSize mới
    }

    private async Task Search(string? keyword)
    {
        search = keyword;
        _page = 1;
        await LoadData();
    }

    // private async Task OnViewSanPham(LoaiCanHoPagingDto item)
    // {
    //     if (popupRef != null)
    //     {
    //         LoaiXuLy = "1";
    //         SelectedMaLoaiCanHo = item.MaLoaiCanHo;
    //         await popupRef.ShowPopupAsync(item, "1");
    //     }
    // }

    // private async Task SelectedSanPham(List<SanPhamPagingDto?> listSP)
    // {
    //     var result = await LoaiCanHoService.CapNhatSanPhamTrongLoaiCanHoAsync(listSP, LoaiXuLy, LoaiXuLy == "1" ? string.Empty : SelectedMaLoaiCanHo);
    //     await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
    //     if (result.Status)
    //     {
    //         // Cập nhật UI popup ngay
    //         await popupRef!.RemoveProductsAsync(
    //             listSP.Where(x => x != null).Select(x => x!.MaSanPham).ToList()
    //         );
    //         await LoadData();                 // reload cột số lượng ở Index
    //     }
    // }

    // private async Task ThemSanPham(LoaiCanHoPagingDto item)
    // {
    //     if (popupRef != null)
    //     {
    //         SelectedMaLoaiCanHo = item.MaLoaiCanHo;
    //         LoaiXuLy = "2";
    //         await popupRef.ShowPopupAsync(item, "2");
    //     }
    // }

    private async Task RemoveSelectedAsync()
    {
        IsSelectAll = false;
        foreach (var item in ChiTietLCH)
        {
            item.IsSelected = IsSelectAll;
        }
    }

    private async Task DeleteSelectedAsync()
    {
        await JS.InvokeVoidAsync("bootstrapModal.show", "#confirmDeleteListModal");
    }

    private async Task ConfirmDelete()
    {
        if (selectedMaCongViec == null || string.IsNullOrEmpty(selectedMaCongViec))
        {
            return;
        }
        Loading.Show();
        try
        {
            var result = await LoaiCanHoService.DeleteLCHAsync(selectedMaCongViec, _env.WebRootPath);
            await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
            await JS.InvokeVoidAsync("bootstrapModal.hide", "#confirmDeleteModal");
            selectedMaCongViec = string.Empty;
            await LoadData();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await JS.InvokeVoidAsync("showToast", "Lỗi", ex.Message, false);
        }
        finally
        {
            Loading.Hide();
        }
    }

    private async Task ConfirmDeleteList()
    {
        Loading.Show();
        try
        {
            var selected = ChiTietLCH.Where(d => d.IsSelected).ToList();
            if (selected.Count == 0) return;
            var result = await LoaiCanHoService.DeleteListAsync(selected, _env.WebRootPath);
            await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
            await JS.InvokeVoidAsync("bootstrapModal.hide", "#confirmDeleteListModal");
            await LoadData();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await JS.InvokeVoidAsync("showToast", "Lỗi", ex.Message, false);
        }
        finally
        {
            Loading.Hide();
        }
    }

    private async Task OnCheckboxAllChanged(ChangeEventArgs e)
    {
        IsSelectAll = (bool)e.Value;
        foreach (var item in ChiTietLCH)
        {
            if (item.SoLuongCanHo == 0)
            {
                item.IsSelected = IsSelectAll;
            }
        }
    }

    private async Task OnCheckboxChanged(LoaiCanHoPagingDto item, ChangeEventArgs e)
    {
        item.IsSelected = (bool)e.Value;
        IsSelectAll = ChiTietLCH.All(x => x.IsSelected);
    }

    private async Task Import()
    {
        await importFileModalRef?.ShowFileModal(string.Empty);
    }

    public void Dispose()
    {
        _dotNetRef?.Dispose();
    }
}
