@page "/giohang/create"
@using VTTGROUP.Blazor.Components.CompChilds
@using VTTGROUP.Domain.Helpers
@using VTTGROUP.Domain.Model.GioHang
@using VTTGROUP.Domain.Model.PhieuDuyetGia
@using VTTGROUP.Infrastructure.Database
@using VTTGROUP.Infrastructure.Services
@using VTTGROUP.Domain.Model
@inject LoadingService Loading
@inject IBaseService BaseService
@inject CanHoService CanHoService
@inject GioHangService GioHangService
@inject IWebHostEnvironment _env
@inject IJSRuntime JS
@inject ICurrentUserService CurrentUser
@inject NavigationManager Nav
<EditForm id="formDuAn" EditContext="@editContext">
    <h1 class="legend-title">Giỏ hàng</h1>
    <div class="container-form">
        <div class="container-tabs">
            @*   <div class="row">
                <div class="col-md-12">
                    <ul class="tab-element">
                        <li class="tab-item actived-tab" data-id="1" id="linkTab1">Thông tin chung</li>
                        <li class="tab-item" data-id="2" id="linkTab2" @onclick="ClickTab2">Danh sách căn hộ</li>
                        <div class="line-bot-nav animated" style="width: 154px; left: 0px;">
                        </div>
                    </ul>
                </div>
            </div> *@
            <MessageErrorForm />
            <div class="wapper-content-tab">
                <div data-id="1" class="tab-content-item actived-tab" id="tab1">
                    <div class="col-lg-10 mx-auto row">
                        <InfoList Items="@InfoItems" />
                        <div class="col-lg-12">
                            <div class="section-head">
                                <span class="section-head__text">Thông tin giỏ hàng</span>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Dự án <i class="point-validate">*</i></span>
                                    <select id="MaDuAn" class="form-control input-validation" @onchange="OnDuAnChanged">
                                        <option value=""></option>
                                        @foreach (var item in ListDA)
                                        {
                                            <option value="@(item.MaDuAn)">@item.TenDuAn</option>
                                        }
                                    </select>
                                    <span class="error-validation">Vui lòng chọn dự án</span>
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Mã giỏ hàng</span>
                                    <DisableTextBox Value="@Record.MaSoGioHang" />
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Đợt mở bán <i class="point-validate">*</i></span>
                                    <select id="MaDotMoBan" class="form-control input-validation" @onchange="OnDotMoBanChanged">
                                        <option value=""></option>
                                        @foreach (var item in ListDotMoBan)
                                        {
                                            <option value="@($"{item.MaDotMoBan}|{item.MaKeHoach}|{item.MaPhieuDG}|{item.GiaBanThucTe}")">
                                                @item.TenDotMoBan
                                            </option>
                                        }
                                    </select>
                                    <span class="error-validation">Vui lòng chọn đợt mở bán</span>
                                </div>
                            </div>
                        </div>

                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group d-flex align-items-center group-input-grid">
                                    <label class="switch-toggle mb-0">
                                        <input type="checkbox" @bind="Record.LoaiGioHang" />
                                        <span class="slider"></span>
                                    </label>

                                    <span class="label-text ms-2 mb-0">@((Record.LoaiGioHang ?? false) ? "Giỏ hàng chung" : "Giỏ hàng riêng")</span>
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Đơn giá</span>
                                    <DisableTextBox Class="is-right" Value="@string.Format("{0:N0}", Record.GiaBan)" />
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Sàn giao dịch</span>
                                    <select id="MaSanGiaoDich" class="form-control" @onchange="OnSanGiaoDichChanged">
                                        <option value=""></option>
                                        @foreach (var item in ListSanGiaoDich)
                                        {
                                            <option value="@(item.MaSanGiaoDich)">@item.TenSanGiaoDich</option>
                                        }
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-12">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Nội dung</span>
                                    <textarea class="textarea-input" cols="20" id="GhiChu" @bind="Record.NoiDung" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="section-head">
                                <span class="section-head__text">Danh sách căn hộ</span>
                            </div>
                        </div>
                        <div class="wapper-button-head-table mb-2" style="width: 100%">
                            <div class="action-buttons" style="display: flex;">
                                <div class="button-action-title" style="margin-left: 0;">
                                    <div class="icon-button" @onclick="AddCanHo">
                                        <i class="mdi mdi-playlist-plus"></i>
                                    </div>
                                    <span>Căn hộ</span>
                                </div>
                                <div class="button-action-title" style="display: flex;">
                                    <div class="icon-button" id="btnThem" data-title="Import file" data-position="left" @onclick="Import">
                                        <i class="mdi mdi-cloud-upload"></i>
                                    </div>
                                    <span>Import</span>
                                </div>
                                <div style="margin-left: auto; display: flex; align-items: center;">
                                </div>
                            </div>
                        </div>
                        <div class="table-responsive table-responsive-soft overflow-auto" id="container-table-fixed">
                            <table class="tbl table table-hover table-form table-detail table-dot" id="table-data">
                                <thead>
                                    <tr>
                                        <th style="width:50px" class="text-center">
                                            STT
                                        </th>
                                        <th style="width:120px" class="text-center">
                                            Tên căn hộ
                                        </th>
                                        <th style="width:90px" class="text-center">
                                            Hệ số
                                        </th>
                                        <th style="width:120px" class="text-center">
                                            Diện tích
                                        </th>
                                        <th style="width:120px" class="text-center">
                                            Diện tích phân bổ
                                        </th>
                                        <th style="width:150px" class="text-center">
                                            Giá bán sau phân bổ
                                        </th>
                                        <th style="width:50px">
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="content-table">
                                    @if (Record.ListCanHo != null && Record.ListCanHo.Any() == true)
                                    {
                                        <Virtualize ItemsProvider="LoadCanHoProvider" Context="x" ItemSize="40" @ref="virtualizeRef">
                                            <tr>
                                                <td class="text-center">@((x.index + 1))</td>
                                                <td>@x.item.TenCanHo</td>
                                                <td class="text-right">@string.Format("{0:N4}", x.item.HeSoCanHo)</td>
                                                <td class="text-right">@string.Format("{0:N2}", x.item.DienTichCanHo)</td>
                                                <td class="text-right">@string.Format("{0:N2}", x.item.DienTichPhanBo)</td>
                                                <td class="text-right">@string.Format("{0:N0}", x.item.GiaBanSauPhanBo)</td>
                                                <td class="text-center">
                                                    <div class="icon-button" data-title="Xóa" data-position="left">
                                                        <a href="javascript:void(0)" @onclick="() => DeleteRow(x.item)"><span><i class="mdi mdi-delete "></i></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </Virtualize>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-button">
        <div class="actions-left">
            <UiButton Preset="back" Variant="secondary" OnClick="BackUrl" />
        </div>
        <div class="actions-right">
            <UiButton Preset="save" Variant="primary" OnClick="SubmitFormJs" />
        </div>
    </div>
</EditForm>
<PopupCanHo @ref="canHoModalRef" OnSelected="SelectedCanHo" />
<ImportFileModal @ref="importFileModalRef" OnUploaded="HandleFileUpload" />
@code {
    private EditContext editContext;
    private GioHangModel? Record = new();
    private List<DaDanhMucDuAn> ListDA = new();
    private List<KHDotMoBanModel> ListDotMoBan = new();
    private List<DmSanGiaoDich> ListSanGiaoDich = new();
    private ImportFileModal? importFileModalRef;
    private Dictionary<bool?, string> loaiGioHangOptions = new()
{
    { true, "Giỏ hàng chung" },
    { false, "Giỏ hàng riêng" }
};
    private bool loadingTab2;
    private string selectedDotMoBanRaw;
    private PopupCanHo? canHoModalRef;
    // private Guid listKey = Guid.NewGuid();
    private Virtualize<(GioHangCanHoModel item, int index)>? virtualizeRef;
    private List<InfoItem> InfoItems = new();
    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(Record);
        ListDA = await CanHoService.GetByDuAnAsync();
        ListSanGiaoDich = await GioHangService.GetSanGiaoDichAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BaseService.CheckPermissionAsync("GioHang", VuViec.Them.GetDescription());
            await JS.InvokeVoidAsync("tabHelper.initTabs");
            await JS.InvokeVoidAsync("select2Helper.initSelectChange", "MaDuAn", "Chọn dự án", true);
            await JS.InvokeVoidAsync("select2Helper.initSelectChange", "MaDotMoBan", "Chọn đợt mở bán", true);
            await JS.InvokeVoidAsync("select2Helper.initSelectChange", "MaSanGiaoDich", "Chọn sàn giao dịch", true);
            await JS.InvokeVoidAsync("InputUtils.makeCurrencyFormat", "GiaBan", 18, 0);
            var result = await GioHangService.FindGetByPhieuAsync(string.Empty);
            if (result.Status)
            {
                Record = (GioHangModel)result.Data;
                InfoItems = new()
                {
                    new() { Text="Mã phiếu", Value=Record.MaPhieu},
                    new() { Text="Ngày lập", Value=string.Format("{0:dd/MM/yyyy}", Record.NgayLap)},
                    new() { Text="Người lập", Value=Record.NguoiLap.HoVaTen},
                };
                StateHasChanged();
            }
            await JS.InvokeVoidAsync("setSmartMaxHeightDetail", "container-table-fixed", 50);
        }
    }

    private async ValueTask<ItemsProviderResult<(GioHangCanHoModel item, int index)>> LoadCanHoProvider(ItemsProviderRequest request)
    {
        var items = Record.ListCanHo
            .Skip(request.StartIndex)
            .Take(request.Count)
            .Select((item, i) => (item, request.StartIndex + i))
            .ToList();

        return new ItemsProviderResult<(GioHangCanHoModel item, int index)>(items, Record.ListCanHo.Count);
    }

    private async Task OnDuAnChanged(ChangeEventArgs e)
    {
        Record.MaDuAn = e.Value?.ToString();
        Record.MaDotMoBan = null;
        ListDotMoBan = await GioHangService.GetDotMoBanAsync(Record.MaDuAn);
        Record.MaSoGioHang = null;
        Record.GiaBan = 0;
        Record.ListCanHo = new();
        Record.MaPhieuKH = null;
        Record.MaPhieuDuyetGia = null;
    }
    private async Task OnDotMoBanChanged(ChangeEventArgs e)
    {
        selectedDotMoBanRaw = e.Value?.ToString();
        if (!string.IsNullOrEmpty(selectedDotMoBanRaw))
        {
            var parts = selectedDotMoBanRaw.Split('|');
            if (parts.Length == 4)
            {
                Record.MaDotMoBan = parts[0];
                Record.MaPhieuKH = parts[1];
                Record.MaPhieuDuyetGia = parts[2];
                Record.GiaBan = Convert.ToDecimal(parts[3]);
            }
        }
        Record.MaSoGioHang = await GioHangService.SinhMaSoGioHangAsync(Record.MaDuAn, Record.MaDotMoBan);
    }
    private async Task OnSanGiaoDichChanged(ChangeEventArgs e)
    {
        Record.MaSanGiaoDich = e.Value?.ToString();
    }
    private async Task HandleLoaiGioHangChanged(bool? selectedValue)
    {
        Record.LoaiGioHang = selectedValue;
    }

    private async Task SubmitFormJs()
    {
        var dotNetRef = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("validateFormBlazor", "formDuAn", dotNetRef);
    }

    [JSInvokable]
    public async Task SubmitForm()
    {
        Loading.Show();
        try
        {
            var result = await GioHangService.SaveGioHangAsync(Record);
            await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
            if (result.Status)
            {
                Nav.NavigateTo($"/giohang/edit/{result.Id}");
                StateHasChanged();
            }
        }
        catch (Exception ex)
        {
            await JS.InvokeVoidAsync("showToast", "Lỗi", ex.Message, false);
        }
        finally
        {
            Loading.Hide();
        }
    }

    private async Task HandlePressDienTich(KeyboardEventArgs e, GioHangCanHoModel item)
    {
        var id = $"input-dientich-{item.Id}";
        await JS.InvokeVoidAsync("InputUtils.makeCurrencyFormat", id, 18, 2);
        var valueStr = await JS.InvokeAsync<string>("getInputValueById", id);
        if (decimal.TryParse(valueStr, out decimal dienTich))
        {
            item.GiaBanSauPhanBo = dienTich * Record.GiaBan;
            item.DienTichPhanBo = dienTich;
        }
    }
    private async Task ClickTab2()
    {
        loadingTab2 = true;
    }
    private void BackUrl()
    {
        Nav.NavigateTo("/giohang");
    }

    private async Task SelectedCanHo(List<GioHangCanHoModel?> listCH)
    {
        foreach (var item in listCH)
        {
            if (item == null) continue; // ✅ Bỏ qua dòng null
            bool isExist = Record.ListCanHo.Any(x => x.MaCanHo == item.MaCanHo);
            if (!isExist)
            {
                Record.ListCanHo.Add(new GioHangCanHoModel
                {
                    MaCanHo = item.MaCanHo,
                    TenCanHo = item.TenCanHo,
                    HeSoCanHo = item.HeSoCanHo,
                    DienTichCanHo = item.DienTichCanHo,
                    DienTichPhanBo = item.DienTichPhanBo,
                    GiaBanSauPhanBo = item.GiaBanSauPhanBo,
                    GiaBan = item.GiaBan
                });
            }
        }
        //  listKey = Guid.NewGuid(); // ✅ đặt ở ngoài foreach, sau khi Add xong
        if (virtualizeRef != null)
        {
            await virtualizeRef.RefreshDataAsync();
        }
        // StateHasChanged();
    }

    private async Task AddCanHo()
    {
        await canHoModalRef?.Show(Record.MaDotMoBan, Record.MaDuAn, string.Empty);
    }

    private async Task DeleteRow(GioHangCanHoModel? item)
    {
        Record.ListCanHo.Remove(item);
        //  listKey = Guid.NewGuid(); // ✅ đặt ở ngoài foreach, sau khi Add xong
        await virtualizeRef?.RefreshDataAsync();
        StateHasChanged();
    }

    private async Task Import()
    {
        await importFileModalRef?.ShowFileModal(Record.MaNhanVien, Record.MaDuAn, Record.MaDotMoBan, Record.MaPhieu, Record.MaPhieuKH, Record.MaPhieuDuyetGia, Record.GiaBan ?? 0);
    }

    private async Task HandleFileUpload(List<GioHangCanHoModel?> listCH)
    {
        //Record.ListCT = listCH;
        foreach (var item in listCH)
        {
            if (item == null) continue; // ✅ Bỏ qua dòng null
            bool isExist = Record.ListCanHo.Any(x => x.MaCanHo == item.MaCanHo);
            if (!isExist)
            {
                Record.ListCanHo.Add(new GioHangCanHoModel
                {
                    MaCanHo = item.MaCanHo,
                    TenCanHo = item.TenCanHo,
                    HeSoCanHo = item.HeSoCanHo,
                    DienTichCanHo = item.DienTichCanHo,
                    DienTichPhanBo = item.DienTichPhanBo,
                    GiaBan = item.GiaBan,
                    GiaBanSauPhanBo = item.GiaBanSauPhanBo
                });
            }
        }
        if (virtualizeRef != null)
        {
            await virtualizeRef.RefreshDataAsync();
        }
    }
}