@page "/change-password"
@using VTTGROUP.Blazor.Components.CompChilds
@using VTTGROUP.Domain.Model.User
@using VTTGROUP.Infrastructure.Database
@using VTTGROUP.Infrastructure.Services
@using VTTGROUP.Domain.Model
@inject UserService UserService
@inject IJSRuntime JS
@inject NavigationManager Nav

<h1 class="legend-title">Thay đổi mật khẩu</h1>
<EditForm id="formDuAn" EditContext="@editContext">
	<div class="container-form">
		<div class="container-tabs">
			<div class="row">
				<div class="col-md-12">
					@* <ul class="tab-element">
						<li class="tab-item actived-tab" data-id="1" id="linkTab1">Thông tin chung</li>
						<div class="line-bot-nav animated" style="width: 154px; left: 0px;">
						</div>
					</ul> *@
				</div>
			</div>
			<MessageErrorForm />
			<div class="wapper-content-tab" id="formDuAn">
				<div data-id="1" class="tab-content-item actived-tab" id="tab1">
					<div class="col-lg-10 mx-auto row">
						<div class="wapper-input col-lg-12">
							<div class="row">
								<div class="form-group-input">
									<span class="title-field">Mật khẩu hiện tại <i class="point-validate">*</i></span>
									<InputText class="form-control input-validation" @bind-Value="CurrentPassword" type="password" />
									<span class="error-validation">Vui lòng nhập mật khẩu hiện tại</span>
								</div>
							</div>
						</div>
						<div class="wapper-input col-lg-12">
							<div class="row">
								<div class="form-group-input">
									<span class="title-field">Mật khẩu mới <i class="point-validate">*</i></span>
									<InputText class="form-control input-validation" @bind-Value="NewPassword" @oninput="ValidatePassword" type="password" />
									<span class="error-validation">Vui lòng nhập mật khẩu mới</span>
								</div>
							</div>
						</div>
						<div class="wapper-input col-lg-12">
							<div class="row">
								<div class="form-group-input">
									<span class="title-field">Xác nhận mật khẩu mới <i class="point-validate">*</i></span>
									<InputText class="form-control input-validation" @bind-Value="ConfirmPassword" type="password" />
									<span class="error-validation">Vui lòng nhập xác nhận mật khẩu mới</span>
								</div>
							</div>
						</div>
						<div class="wapper-input col-lg-12">
							<ul class="p-3 border rounded bg-warning bg-gradient bg-opacity-50">
								<li style="@GetStyle(HasUpperAndLower)">Phải có chữ hoa và chữ thường</li>
								<li style="@GetStyle(HasNumber)">Phải chứa số</li>
								<li style="@GetStyle(HasSpecialChar)">Phải chứa ký tự đặc biệt</li>
								<li style="@GetStyle(HasMinLength)">Độ dài tối thiểu 8 ký tự</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container-button">
        <div class="actions-left">
            <UiButton Preset="back" Variant="secondary" OnClick="BackUrl" />
        </div>
        <div class="actions-right">
			<UiButton Preset="save" Variant="primary" Text="Đổi mật khẩu" OnClick="SubmitFormJs" />
        </div>
    </div>
</EditForm>

@code {
	private EditContext editContext;
	private UserModel? Record = new();

	public string CurrentPassword { get; set; } = "";
	public string NewPassword { get; set; } = "";
	public string ConfirmPassword { get; set; } = "";
	public string ErrorMessage { get; set; } = "";

	bool HasUpperAndLower = false;
	bool HasNumber = false;
	bool HasSpecialChar = false;
	bool HasMinLength = false;

	protected override async Task OnInitializedAsync()
	{
		editContext = new EditContext(Record);
	}
	protected override async Task OnAfterRenderAsync(bool firstRender)
	{
		if (firstRender)
		{
		}
	}
	string GetStyle(bool condition)
	{
		return condition ? "font-weight: bold;color:#198754" : "font-weight: normal;";
	}
	void ValidatePassword(ChangeEventArgs e)
	{
		NewPassword = e.Value?.ToString() ?? "";
		HasUpperAndLower = NewPassword.Any(char.IsUpper) && NewPassword.Any(char.IsLower);
		HasNumber = NewPassword.Any(char.IsDigit);
		HasSpecialChar = NewPassword.Any(c => !char.IsLetterOrDigit(c));
		HasMinLength = NewPassword.Length >= 8;
	}

	private async Task SubmitFormJs()
	{
		var dotNetRef = DotNetObjectReference.Create(this);
		await JS.InvokeVoidAsync("validateForm", "formDuAn", dotNetRef);
	}

	[JSInvokable]
	public async Task SubmitForm()
	{
		ErrorMessage = "";
		if (NewPassword != ConfirmPassword)
		{
			ErrorMessage = "Mật khẩu xác nhận không khớp.";
			await JS.InvokeVoidAsync("showToast", "Thông báo", ErrorMessage, false);
			return;
		}

		if (!(HasUpperAndLower && HasNumber && HasSpecialChar && HasMinLength))
		{
			ErrorMessage = "Mật khẩu mới không đủ điều kiện.";
			await JS.InvokeVoidAsync("showToast", "Thông báo", ErrorMessage, false);
			return;
		}
		Record.MatKhau = CurrentPassword;
		Record.MatKhauMoi = NewPassword;
		Record.XacNhanMatKhau = ConfirmPassword;
		var result = await UserService.ChangePasswordUserAsync(Record);
		await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);

		CurrentPassword = string.Empty;
		NewPassword = string.Empty;
		ConfirmPassword = string.Empty;
		HasUpperAndLower = false;
		HasNumber = false;
		HasSpecialChar = false;
		HasMinLength = false;

		StateHasChanged();
	}
	private void BackUrl()
	{
		Nav.NavigateTo("/dashboard");
	}
}
