@using VTTGROUP.Blazor.Components.CompChilds
@using VTTGROUP.Domain.Model
@using VTTGROUP.Infrastructure.Database
@using VTTGROUP.Infrastructure.Services
@inject IBaseService BaseService
@inject NhanVienService NhanVienService
@inject PhieuGiuChoService PhieuGiuChoService
<div class="button-search-more" @ref="popupRef">
    <div class="wraper-button-filter @(countFilter > 0 ? "had-filter" : "had-filter")">
        <AppButton Label="@(FilterLabel)"
                   Class="button button-action btn-toggle-popup-more"
                   IconClass="mdi mdi-filter-outline"
                   OnClick="() => TogglePopup()" />

        <div class="reset-button" @onclick="OnResetClicked"><i class="mdi mdi-close"></i></div>
    </div>
    <div class="wraper-popup-filter content-search-more @(showPopup ? "show" : "")" id="popupFilter">
        <div class="header-search-more">
            <div class="title-search-more">
                Bộ lọc
                <div class="close-button-popup" @onclick="OnOffPopupClicked"><i class="mdi mdi-close"></i></div>
            </div>
        </div>
        <div class="wappert-item-more container-form">
            <div class="title-item-more">Trạng thái</div>
            <div class="content-item-more">
                <select name="sltTrangThaiUser" id="sltTrangThaiUser" class="form-control" @onchange="PopupChangeTrangThai">
                    <option value=""></option>
                    <option value="1">Đang làm việc</option>
                    <option value="0">Đã nghỉ việc</option>
                </select>
            </div>
        </div>
        <div class="wappert-item-more container-form">
            <div class="title-item-more">Loại người dùng</div>
            <div class="content-item-more">
                <select id="LoaiUser" class="form-control" @onchange="PopupLoaiUserChanged">
                    <option value="">Chọn loại người dùng</option>
                    <option value="NV">Nhân viên</option>
                    <option value="SGG">Sàn giao dịch</option>
                </select>
            </div>
        </div>
        <div class="wappert-item-more container-form">
            <div class="title-item-more">Trạng thái</div>
            <div class="content-item-more">
                <select name="MaPhongBan" id="MaPhongBan" class="form-control" @onchange="PopupPhongBanChanged">
                    <option value=""></option>
                    @foreach (var item in ListPhongBan)
                    {
                        <option value="@(item.MaPhongBan)">@item.TenPhongBan</option>
                    }
                </select>
            </div>
        </div>
        <div class="wraper-button-bottom">
            <UiButton Text="Áp dụng" Variant="primary" OnClick="OnAgreeFilter" />
        </div>
    </div>
</div>
@code {
    private bool showPopup = false;
    private ElementReference popupRef;

    [Inject] IJSRuntime JS { get; set; }

    [Parameter] public EventCallback<string> OnTrangThaiChanged { get; set; }
    [Parameter] public EventCallback<string> OnLoaiNVChanged { get; set; }
    [Parameter] public EventCallback<string> OnPhongBanChanged { get; set; }
    [Parameter] public EventCallback OnReset { get; set; }
    private bool isTrangThaiDuyetSelect2 = false;
    private bool isSGGSelect2 = false;
    private List<TblNhanvienPhongban> ListPhongBan = new();
    bool IsNhanVien;
    private int countFilter = 0;
    private string FilterLabel => $"Bộ lọc{(countFilter > 0 ? $" ({countFilter})" : "")}";
    private string? selectedTrangThai;
    private string? selectedLoaiUser;
    private string? selectedPhongBan;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            ListPhongBan = await NhanVienService.GetListPhongbBanAsync();
            await JS.InvokeVoidAsync("popupMoreFilter.initClickOutside", popupRef, DotNetObjectReference.Create(this));
        }
    }

    private async Task TogglePopup()
    {
        showPopup = !showPopup;

        if (showPopup)
        {
            if (!isTrangThaiDuyetSelect2)
            {
                await JS.InvokeVoidAsync("select2Helper.initSelectChange", "TrangThaiDuyet", "Chọn trạng thái", true);
                isTrangThaiDuyetSelect2 = true;
            }
            if (!isSGGSelect2)
            {
                await JS.InvokeVoidAsync("select2Helper.initSelectChange", "MaSanGG", "Chọn sàn giao dịch", true);
                isSGGSelect2 = true;
            }
        }
    }

    [JSInvokable]
    public async Task HidePopupMore()
    {
        await JS.InvokeVoidAsync("popupMoreFilter.removeShowClass", "popupFilter");
        await Task.Delay(0);
        showPopup = false;
        StateHasChanged();
    }

    private async Task PopupChangeTrangThai(ChangeEventArgs e)
    {
        selectedTrangThai = e.Value?.ToString();
    }

    private async Task PopupLoaiUserChanged(ChangeEventArgs e)
    {
        selectedLoaiUser = e.Value?.ToString();
    }

    private async Task PopupPhongBanChanged(ChangeEventArgs e)
    {
        selectedPhongBan = e.Value?.ToString();
    }

    private async Task OnResetClicked()
    {
        selectedTrangThai = string.Empty;
        selectedLoaiUser = string.Empty;
        selectedPhongBan = string.Empty;
        await ResetCountFilter();
        await JS.InvokeVoidAsync("select2Helper.resetMultipleSelects", new[] { "TrangThaiDuyet" });
        await OnTrangThaiChanged.InvokeAsync(string.Empty);
        await JS.InvokeVoidAsync("select2Helper.resetMultipleSelects", new[] { "MaSanGG" });
        await OnLoaiNVChanged.InvokeAsync(string.Empty);
        await OnReset.InvokeAsync();
    }

    private async Task ResetCountFilter()
    {
        countFilter = 0;
        if (!string.IsNullOrEmpty(selectedTrangThai))
            countFilter += 1;

        /*Có thể thêm cho các loại filter khác */
        /*Ví dụ*/
        /*Sàn giao dịch*/
        if (!string.IsNullOrEmpty(selectedLoaiUser))
            countFilter += 1;

        if (!string.IsNullOrEmpty(selectedPhongBan))
            countFilter += 1;
    }

    private async Task OnAgreeFilter()
    {
        showPopup = false;
        await ResetCountFilter();
        await OnTrangThaiChanged.InvokeAsync(selectedTrangThai);
        await OnPhongBanChanged.InvokeAsync(selectedPhongBan);
        await OnLoaiNVChanged.InvokeAsync(selectedLoaiUser);
        StateHasChanged();
    }

    public async Task RestAllMore()
    {
        await JS.InvokeVoidAsync("select2Helper.resetMultipleSelects", new[] { "TrangThaiDuyet" });
        await JS.InvokeVoidAsync("select2Helper.resetMultipleSelects", new[] { "LoaiUser" });
        await JS.InvokeVoidAsync("select2Helper.resetMultipleSelects", new[] { "MaPhongBan" });
    }

    private async Task OnOffPopupClicked()
    {
        showPopup = false;
        selectedTrangThai = string.Empty;
        selectedLoaiUser = string.Empty;
        selectedPhongBan = string.Empty;
        await ResetCountFilter();
        await JS.InvokeVoidAsync("select2Helper.resetMultipleSelects", new[] { "TrangThaiDuyet" });
        await OnTrangThaiChanged.InvokeAsync(string.Empty);
        await JS.InvokeVoidAsync("select2Helper.resetMultipleSelects", new[] { "LoaiUser" });
        await OnLoaiNVChanged.InvokeAsync(string.Empty);
        await JS.InvokeVoidAsync("select2Helper.resetMultipleSelects", new[] { "MaPhongBan" });
        await OnPhongBanChanged.InvokeAsync(string.Empty);
        StateHasChanged();
    }
}

