@page "/phieudatcoc/edit/{id}"
@using System.Text.Json
@using VTTGROUP.Blazor.Components.CompChilds
@using VTTGROUP.Blazor.Components.Pages.Uploads
@using VTTGROUP.Domain.Helpers
@using VTTGROUP.Domain.Model.InPhieu
@using VTTGROUP.Domain.Model.KhachHang
@using VTTGROUP.Domain.Model.KhachHangTam
@using VTTGROUP.Domain.Model.PhieuDatCoc
@using VTTGROUP.Domain.Model.PhieuGiuCho
@using VTTGROUP.Domain.Model.SanPham
@using VTTGROUP.Domain.Model.ViewMatKhoi
@using VTTGROUP.Infrastructure.Database
@using VTTGROUP.Infrastructure.Services
@using VTTGROUP.Domain.Model
@inject IBaseService BaseService
@inject CanHoService CanHoService
@inject PhieuGiuChoService PhieuGiuChoService
@inject LoadingService Loading
@inject PhieuDatCocService PhieuDatCocService
@inject DMKhachHangService DMKhachHangService
@inject IJSRuntime JS
@inject NavigationManager Nav
@inject HttpClient Http
@inject IWebHostEnvironment _env
<EditForm id="formDuAn" EditContext="@editContext">
    <h1 class="legend-title">Phiếu đặt cọc</h1>
    <div class="container-form">
        <div class="container-tabs">
            <MessageErrorForm />
            <div class="wapper-content-tab @((Record.FlagTong == true) ? "" : "wraper-duyet")" id="formDuAn">
                <div data-id="1" class="tab-content-item actived-tab" id="tab1">
                    <div class="col-lg-10 mx-auto row">
                        <InfoList Items="@InfoItems" />
                        <div class="col-lg-12">
                            <div class="section-head">
                                <span class="section-head__text">Thông tin sản phẩm</span>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Số phiếu <i class="point-validate">*</i></span>
                                    <InputText class="form-control input-validation" @bind-Value="Record.SoPhieuDC" />
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Ngày ký</span>
                                    <FlatpickrInput Id="NgayKi" Name="NgayKi" @bind-Value="Record.NgayKi"
                                                    Placeholder=""
                                                    CssClass="form-control datetime-picker"
                                                    Options="dateOptions" />
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Phiếu giữ chỗ </span>
                                    <div class="item-phieu"><span class="input-value" @onclick="() => OnViewPDK(Record.MaPhieuDK)">[@Record.MaPhieuDK]_[@Record.TenCanHo]_[@Record.TenKhachHang]</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-3">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Sản phẩm</span>
                                    <div class="item-phieu"><span class="input-value" @onclick="() => OnViewCH(Record.MaCanHo)">@Record.TenCanHo</span></div>
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-3">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Mẫu in</span>
                                    @Record.TenMauIn
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Diện tích tim tường</span>
                                    <DisableTextBox Class="is-right" Value="@string.Format("{0:N2}", Record.DienTichTimTuong)" />
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Diện tích thông thủy</span>
                                    <DisableTextBox Class="is-right" Value="@string.Format("{0:N2}", Record.DienTichLotLong)" />
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-12">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Diện tích sân vườn</span>
                                    <DisableTextBox Class="is-right" Value="@string.Format("{0:N2}", Record.DienTichSanVuon)" />
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Giá đất (1)</span>
                                    <DisableTextBox Class="is-right" Value="@string.Format("{0:N0}", Record.GiaDat)" />
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Giá căn hộ trước thuế (2)</span>
                                    <DisableTextBox Class="is-right" Value="@string.Format("{0:N0}", Record.GiaCanHoTruocThue)" />
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Tỷ lệ thuế (3)</span>
                                    <div class="input-suffix-wrap">
                                        <DisableTextBox Class="is-right" Value="@string.Format("{0:N2}", Record.TyLeThueVAT)" />
                                        <span class="suffix">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Giá căn hộ sau thuế (4)</span>
                                    <DisableTextBox Class="is-right" Value="@string.Format("{0:N0}", Record.GiaCanHoSauThue)" />
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-12">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Tập tin đính kèm</span>
                                    <div class="contatiner-upload-files">
                                        <FileUploader @ref="uploaderRef" AllowExtensions="allowedExtensions"
                                                      MaxFileSize="10485760"
                                                      AllowMultiple="true"
                                                      OnFilesChanged="HandleFiles" />
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-12">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Ghi chú</span>
                                    <textarea class="textarea-input" cols="10" name="GhiChu" id="GhiChu" rows="2" tabindex="2" @bind="Record.GhiChu"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="section-head">
                                <span class="section-head__text">Thông tin khách hàng</span>
                            </div>
                        </div>
                        @*Bảng để hiển thị thông tin khách hàng*@
                        <div class="table-responsive table-responsive-soft">
                            <table class="tbl table table-form table-detail table-policy" id="table-data">
                                <thead>
                                    <tr>
                                        <th style="text-align:center">Họ tên</th>
                                        <th style="text-align:center">Ngày sinh</th>
                                        <th style="text-align:center">CCCD</th>
                                        <th style="text-align:center">Số điện thoại</th>
                                        <th style="text-align:center">Địa chỉ thường trú</th>
                                        <th style="text-align:center">Địa chỉ liên lạc</th>
                                        <th style="text-align:center; width:100px">Thao tác</th>
                                    </tr>
                                </thead>
                                <tbody class="content-table booking-group">
                                    <tr>
                                        <td>
                                            <a href="/khachhang/edit/@Record.MaKhachHang" class="item-phieu" target="_blank">
                                                @Record.TenKhachHang
                                            </a>
                                        </td>
                                        <td>@string.Format("{0:dd/MM/yyyy}", Record.NgaySinh)</td>
                                        <td>@Record.IDCard</td>
                                        <td>@Record.SoDienThoai</td>
                                        <td>@Record.DiaChiThuongTru</td>
                                        <td>@Record.DiaChiHienNay</td>
                                        <td class="text-center">
                                            <div class="d-flex justify-content-center align-items-center gap-2">
                                                <div class="icon-button" data-title="Lịch sử thay đổi" data-position="left">
                                                    <a href="javascript:void(0)" @onclick="OnViewLichSuKhachHang"><span><i class="mdi mdi-history"></i></span></a>
                                                </div>
                                                <div class="icon-button" data-title="Chỉnh sửa" data-position="left">
                                                    <a href="javascript:void(0)" @onclick="OnEditKhachHang"><span><i class="mdi mdi-pencil"></i></span></a>
                                                </div>
                                                <div class="icon-button" data-title="Tải lại" data-position="left">
                                                    <a href="javascript:void(0)" @onclick="OnReloadKhachHang"><span><i class="mdi mdi-reload"></i></span></a>
                                                </div>
                                            </div>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                        <div class="col-lg-12">
                            <div class="section-head">
                                <span class="section-head__text">Chính sách thanh toán</span>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Chính sách </span>
                                    <DisableTextBox Value="@Record.TenChinhSachTT" />
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Tỷ lệ chiết khấu CSTT (5)</span>
                                    <div class="input-suffix-wrap">
                                        <DisableTextBox Class="is-right" Value="@string.Format("{0:N2}", Record.TyLeCK)" />
                                        <span class="suffix">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field"> Giá trị chiết khấu<span class="icon-button-tooltip" data-title="[6]=[2]*[5]" data-position="left">(6)</span></span>
                                    <DisableTextBox Class="is-right" Value="@string.Format("{0:N0}", Record.GiaTriCK)" />
                                </div>
                            </div>
                        </div>

                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Giá bán trước thuế<span class="icon-button-tooltip" data-title="[7]=[2]-[6]" data-position="left">(7)</span></span>
                                    <DisableTextBox Class="is-right" Value="@string.Format("{0:N0}", Record.GiaBanTruocThue)" />
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Giá trị thuế (8)</span>
                                    <DisableTextBox Class="is-right" Value="@string.Format("{0:N0}", Record.GiaBanTienThue)" />
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Giá bán sau thuế <span class="icon-button-tooltip" data-title="[9]=[7]+([7]-[1])*[3]" data-position="left">(9)</span></span>
                                    <DisableTextBox Class="is-right" Value="@string.Format("{0:N0}", Record.GiaBanSauThue)" />
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Tỷ lệ quỹ bảo trì (10)</span>
                                    <div class="input-suffix-wrap">
                                        <DisableTextBox Class="is-right" Value="@string.Format("{0:N2}", Record.TyLeQuyBaoTri)" />
                                        <span class="suffix">%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="wapper-input col-lg-6">
                            <div class="row">
                                <div class="form-group-input group-input-grid">
                                    <span class="title-field">Giá trị quỹ bảo trì <span class="icon-button-tooltip" data-title="[11]=[7]*[10]" data-position="left">(11)</span></span>
                                    <DisableTextBox Class="is-right" Value="@string.Format("{0:N0}", Record.TienQuyBaoTri)" />
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-12">
                            <div class="section-head">
                                <span class="section-head__text">Tiến độ thanh toán</span>
                            </div>
                        </div>
                        <div class="table-responsive table-responsive-soft">
                            <table class="tbl table table-form table-detail table-policy" id="table-data">
                                <thead>
                                    <tr>
                                        <th style="width:70px" class="text-center">STT</th>
                                        <th style="width:250px" class="text-center">Nội dung</th>
                                        <th style="width:200px" class="text-center">Ngày thanh toán</th>
                                        <th style="width:130px" class="text-center">Khoảng cách ngày</th>
                                        <th style="width:130px" class="text-center">Đợt tham chiếu</th>
                                        <th style="width:130px" class="text-center">Tỷ lệ TT</th>
                                        <th style="width:130px" class="text-center">Tỷ lệ VAT cần TT</th>
                                        <th style="width:130px" class="text-center">Số tiền TT</th>
                                        <th style="width:130px" class="text-center">Cấn trừ đã thanh toán</th>
                                        <th style="width:130px" class="text-center">Giá trị chuyển đổi booking</th>
                                        <th style="width:130px" class="text-center">Phải thanh toán</th>
                                    </tr>
                                </thead>
                                <tbody class="content-table">
                                    @if (ListTDTT != null && ListTDTT.Any() == true)
                                    {
                                        int i = 1;
                                        @foreach (var item in ListTDTT)
                                        {
                                            <tr>
                                                <td class="text-center">@item.DotTT</td>
                                                <td>@item.NoiDungTT</td>
                                                <td>@(item.NgayThanhToan == null ? string.Empty : string.Format("{0:dd/MM/yyyy}", item.NgayThanhToan))</td>
                                                <td class="text-right">@item.SoKhoangCachNgay</td>
                                                <td class="text-right">@item.DotThamChieu</td>
                                                <td class="text-center">@string.Format("{0:N2}", (decimal?)item.TyLeThanhToan ?? 0)</td>
                                                <td class="text-center">@string.Format("{0:N2}", (decimal?)item.TyLeThanhToanVAT ?? 0)</td>
                                                <td class="text-right">@string.Format("{0:N0}", (decimal?)item.SoTien ?? 0)</td>
                                                <td class="text-right">@string.Format("{0:N0}", (decimal?)item.SoTienCanTruDaTT ?? 0)</td>
                                                <td class="text-right">@string.Format("{0:N0}", (decimal?)item.SoTienChuyenDoiBooking ?? 0)</td>
                                                <td class="text-right">@string.Format("{0:N0}", (decimal?)item.SoTienPhaiThanhToan ?? 0)</td>
                                            </tr>
                                            i++;
                                        }
                                    }
                                    @if (ListTDTT != null && ListTDTT.Any())
                                    {
                                        var tongSoTienTT = ListTDTT.Sum(x => (decimal?)x.SoTien ?? 0m);
                                        var tongCanTru = ListTDTT.Sum(x => (decimal?)x.SoTienCanTruDaTT ?? 0m);
                                        var tongChuyenDoi = ListTDTT.Sum(x => (decimal?)x.SoTienChuyenDoiBooking ?? 0m);
                                        var tongPhaiTT = ListTDTT.Sum(x => (decimal?)x.SoTienPhaiThanhToan ?? 0m);
                                        <tr class="row-total">
                                            <td></td>
                                            <td colspan="2" class="text-left">Tổng cộng</td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td class="text-right">@string.Format("{0:N0}", tongSoTienTT)</td>
                                            <td class="text-right">@string.Format("{0:N0}", tongCanTru)</td>
                                            <td class="text-right">@string.Format("{0:N0}", tongChuyenDoi)</td>
                                            <td class="text-right">@string.Format("{0:N0}", tongPhaiTT)</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="container-button">
            <div class="actions-left">
                <UiButton Preset="back" Variant="secondary" OnClick="BackUrl" />
            </div>
            <div class="actions-right">
                <AppButton Label="Print"
                           Class="button button-action button-print"
                           OnClick="() => PrintPhieuDC()" />
                <AppButton Label="Send email"
                           Class="button button-action button-print"
                           OnClick="() => SendEmailPhieuDC()" />
                @if (Record.TrangThaiDuyet == 0 && Record.NguoiLap != null && Record.NguoiLap.MaNhanVien == maNhanVienHT)
                {
                    <AppButton Label="Gửi duyệt"
                               Class="button button-action"
                               IconClass="mdi mdi-telegram"
                               OnClick="() => GuiDuyetPhieu(MaCongViec, Record.MaPhieuDC, Record.MaDuAn, Record.NguoiLap?.MaNhanVien, 0, 0)" />
                    <UiButton Preset="save" Variant="primary" OnClick="SubmitFormJs" />
                }
                else if (Record.MaNhanVienDP == maNhanVienHT && Record.TrangThaiDuyet != Record.TrangThaiDuyetCuoi)
                {
                    <AppButton Label="Duyệt"
                               Class="button button-action"
                               IconClass="mdi mdi-check-circle"
                               OnClick="() => GuiDuyetPhieu(MaCongViec, Record.MaPhieuDC, Record.MaDuAn,Record.NguoiLap?.MaNhanVien,Record.MaQuiTrinhDuyet,1)" />
                    <AppButton Label="Trả lại"
                               Class="button button-action"
                               IconClass="mdi mdi-replay"
                               OnClick="() => GuiDuyetPhieu(MaCongViec, Record.MaPhieuDC, Record.MaDuAn,Record.NguoiLap?.MaNhanVien,Record.MaQuiTrinhDuyet,2)" />
                    <UiButton Preset="save" Variant="primary" OnClick="SubmitFormJs" />
                }

            </div>
            @if (IsLoading)
            {
                <div class="export-overlay" role="status" aria-live="polite">
                    <div class="export-card">
                        <div class="mb-2 text-center">@Status (@Index/@Total)</div>
                        <div class="progress" style="height:24px; min-width:320px;">
                            <div class="progress-bar progress-bar-striped progress-bar-animated"
                                 role="progressbar" style="width:@Percent%">
                                @Percent%
                            </div>
                        </div>
                        <button class="btn btn-link mt-2" @onclick="Cancel">Hủy</button>
                    </div>
                </div>
            }
        </div>
    </div>
</EditForm>
<PopupGuiDuyet @ref="guiDuyetModalRef" OnReloadGuiDuyet="ReloadForm" />
<CanHoDetails @ref="canHoModalRef" />
<PopupCapNhapThongTinKhachHang @ref="popupKhachHangRef" OnSaved="OnKhachHangSaved" />
<PopupLichSuKhachHangChiTiet @ref="popupLichSuRef" />
@code {
    [Parameter]
    public string id { get; set; }
    private EditContext editContext;
    private object dateOptions = new
    {
        dateFormat = "d/m/Y",
        enableTime = false,
        todayButton = true
    };
    private PhieuDatCocModel? Record = new();
    private List<PhieuDatCocTienDoThanhToanModel> ListTDTT = new();
    private string MaCongViec = "PhieuDatCoc";
    private PopupGuiDuyet? guiDuyetModalRef;
    private string? maNhanVienHT;
    private CanHoDetails? canHoModalRef;
    private PopupCapNhapThongTinKhachHang? popupKhachHangRef;
    private PopupLichSuKhachHangChiTiet? popupLichSuRef;
    private FileUploader uploaderRef;
    private string[] allowedExtensions = FileTypeSets.Document;
    private List<InfoItem> InfoItems = new();
    //private bool IsDaDuyet => Record != null && Record.TrangThaiDuyetCuoi > 0 && Record.TrangThaiDuyet == Record.TrangThaiDuyetCuoi;
    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(Record);

        await BaseService.CheckPermissionAsync(MaCongViec, VuViec.CapNhat.GetDescription());

        var result = await PhieuDatCocService.GetByIdAsync(id);
        if (result.Status)
        {
            Record = (PhieuDatCocModel)result.Data;
            editContext = new EditContext(Record);
            InfoItems = new()
            {
                new() { Text="Mã phiếu", Value=Record.MaPhieuDC},
                new() { Text="Ngày lập", Value=string.Format("{0:dd/MM/yyyy}", Record.NgayLap)},
                new() { Text="Người lập", Value=Record.NguoiLap.HoVaTen},
                new() { Text="Dự án", Value=Record.TenDuAn, LargeWidth = true},
            };

            // Load đầy đủ thông tin khách hàng từ danh mục
            if (!string.IsNullOrEmpty(Record.MaKhachHang))
            {
                var khResult = await DMKhachHangService.GetByIdAsync(Record.MaKhachHang);
                if (khResult.Status)
                {
                    var kh = (KhachHangTamModel)khResult.Data;
                    Record.TenKhachHang = kh.TenKhachHang;
                    Record.NgaySinh = !string.IsNullOrEmpty(kh.NgaySinh)
                        ? DateTime.ParseExact(kh.NgaySinh, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)
                        : (DateTime?)null;
                    Record.IDCard = kh.IdCard;
                    Record.SoDienThoai = kh.SoDienThoai;
                    Record.DiaChiThuongTru = kh.DiaChiThuongTru;
                    Record.DiaChiHienNay = kh.DiaChiHienNay;
                }
            }
        }

        ListTDTT = await PhieuDatCocService.GetByTienDoThanhToanAsync(string.Empty, Record.MaPhieuDC, 0, 0, string.Empty);
        maNhanVienHT = await BaseService.MaNhanVienHienTai();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await JS.InvokeVoidAsync("tabHelper.initTabs");

            if (Record?.Files?.Any() == true)
            {
                await uploaderRef.RenderInitialFiles(Record.Files, (Record.FlagTong == true ? false : true));
            }
            uploaderRef.IsDuyet = (Record.FlagTong == true ? false : true);

            StateHasChanged();
        }
    }

    private async Task SubmitFormJs()
    {
        var dotNetRef = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("validateFormBlazor", "formDuAn", dotNetRef);
    }

    [JSInvokable]
    public async Task SubmitForm()
    {
        Loading.Show();
        try
        {
            var result = await PhieuDatCocService.UpdateByIdAsync(Record, ListTDTT, _env.WebRootPath);
            await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
        }
        catch (Exception ex)
        {
            await JS.InvokeVoidAsync("showToast", "Lỗi", ex.Message, false);
        }
        finally
        {
            Loading.Hide();
        }
    }

    private void BackUrl()
    {
        Nav.NavigateTo("/phieudatcoc");
    }

    private async Task GuiDuyetPhieu(string MaCongViec, string MaPhieu, string MaCongTrinh, string MaNhanVien, int? IdQuyTrinh, int flag)
    {
        await guiDuyetModalRef?.ShowQTD(MaCongViec, MaPhieu, MaCongTrinh, MaNhanVien, IdQuyTrinh, flag);
    }

    private async Task XacNhanDaKy()
    {
        if (!string.IsNullOrEmpty(Record.NgayKi))
        {
            var result = await PhieuDatCocService.XacNhanNgayKyAsync(Record);
            await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
            await ReloadForm();
        }
        else
        {
            await JS.InvokeVoidAsync("showToast", "Thông báo", "Xin vui lòng chọn ngày ký trước khi xác nhận", false);
        }
    }

    private async Task ReloadForm()
    {
        await JS.InvokeVoidAsync("location.reload");
    }

    private async Task OnViewCH(string maCanHo)
    {
        if (canHoModalRef != null)
        {
            var canHo = await BaseService.ThongTinChiTietSanPham(Record.MaDuAn, Record.MaCanHo);
            await canHoModalRef.Show(canHo);
        }
    }

    public void HandleFiles(List<UploadedFileModel> files)
    {
        Record.Files = files;
    }

    private bool IsLoading = false;
    int Percent;
    string Status = "";
    int Index, Total;
    CancellationTokenSource? _cts;
    private async Task PrintPhieuDC()
    {
        IsLoading = true;
        Percent = 0; Status = "Bắt đầu..."; Index = 0; Total = 0;
        _cts = new CancellationTokenSource();
        var progress = new Progress<ExportProgress>(p =>
                {
                    Percent = Math.Clamp(p.Percent, 0, 100);
                    Status = p.Message;
                    Index = p.Index;
                    Total = p.Total;
                    InvokeAsync(StateHasChanged);
                });
        try
        {
            var (name, bytes) = await PhieuDatCocService.GenerateAllDocsZipProgressAsync(id, progress, _cts.Token);
            var base64 = Convert.ToBase64String(bytes);
            await JS.InvokeVoidAsync("downloadFileFromBytes", name, base64, "application/zip");
            Status = "Hoàn tất.";
            Percent = 100;
        }
        catch (OperationCanceledException)
        {
            Status = "Đã hủy.";
        }
        catch (Exception ex)
        {
            Status = "Lỗi: " + ex.Message;
        }
        finally
        {
            IsLoading = false;
            _cts?.Dispose();
            _cts = null;
            StateHasChanged();
        }
    }
    void Cancel() => _cts?.Cancel();

    private async Task SendEmailPhieuDC()
    {
        var result = await PhieuDatCocService.SendEmailAsync(Record, _env.WebRootPath);
        await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
    }

    private async Task OnViewPDK(string maPhieuDK)
    {
        await JS.InvokeVoidAsync("openInNewTab", "/phieudangky/edit/" + maPhieuDK);
    }

    private async Task OnEditKhachHang()
    {
        if (popupKhachHangRef != null && !string.IsNullOrEmpty(Record?.MaKhachHang))
        {
            await popupKhachHangRef.Show(Record.MaKhachHang);
        }
    }

    private async Task OnReloadKhachHang()
    {
        if (!string.IsNullOrEmpty(Record?.MaKhachHang))
        {
            var result = await DMKhachHangService.GetByIdAsync(Record.MaKhachHang);

            if (result.Status)
            {
                var kh = (KhachHangTamModel)result.Data;

                Record.TenKhachHang = kh.TenKhachHang;
                Record.NgaySinh = !string.IsNullOrEmpty(kh.NgaySinh)
                    ? DateTime.ParseExact(kh.NgaySinh, "dd/MM/yyyy", System.Globalization.CultureInfo.InvariantCulture)
                    : (DateTime?)null;
                Record.IDCard = kh.IdCard;
                Record.SoDienThoai = kh.SoDienThoai;
                Record.DiaChiThuongTru = kh.DiaChiThuongTru;
                Record.DiaChiHienNay = kh.DiaChiHienNay;

                StateHasChanged();

                await JS.InvokeVoidAsync("showToast", "Thông báo", "Cập nhật thông tin khách hàng thành công", true);
            }
        }
    }

    private async Task OnKhachHangSaved(string maKhachHang)
    {
        await OnReloadKhachHang();
    }

    private async Task OnViewLichSuKhachHang()
    {
        if (popupLichSuRef != null && !string.IsNullOrEmpty(Record?.MaKhachHang))
        {
            await popupLichSuRef.Show(Record.MaKhachHang);
        }
    }
}

<style>
    /* FIX: đừng cắt tooltip */
    .wapper-input,
    .wapper-input .row,
    .form-group-input,
    .group-input-grid,
    .title-field {
        overflow: visible !important;
    }

</style>