@page "/denghihoantienbooking/create"
@using VTTGROUP.Blazor.Components.CompChilds
@using VTTGROUP.Domain.Helpers
@using VTTGROUP.Domain.Model.PhieuDeNghiHoanTienBooking
@using VTTGROUP.Domain.Model.PhieuGiuCho
@using VTTGROUP.Infrastructure.Database
@using VTTGROUP.Infrastructure.Services
@using VTTGROUP.Domain.Model
@inject IBaseService BaseService
@inject PhieuDeNghiHoanTienBookingService DeNghiHoanTienBookingService
@inject IJSRuntime JS
@inject NavigationManager Nav

<EditForm id="formDuAn" EditContext="@editContext">
    <h1 class="legend-title">Phiếu đề nghị hoàn tiền booking</h1>
    <div class="container-form">
        <div class="container-tabs">
            <div class="row">
                <div class="col-md-12">
                    <ul class="tab-element">
                        <li class="tab-item actived-tab" data-id="1" id="linkTab1">Thông tin chung</li>
                        <li class="tab-item" data-id="2" id="linkTab2" @onclick="ClickTab2">Danh sách booking</li>
                        <div class="line-bot-nav animated" style="width: 154px; left: 0px;">
                        </div>
                    </ul>
                </div>
            </div>
            <MessageErrorForm />
            <div class="wapper-content-tab">
                <div data-id="1" class="tab-content-item actived-tab" id="tab1">
                    <div class="col-lg-10 mx-auto row">
                        <InfoList Items="@InfoItems" />
                        <div class="wapper-input col-lg-12">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Dự án <i class="point-validate">*</i></span>
                                    <select id="MaDuAn" class="form-control input-validation" @onchange="OnDuAnChanged">
                                        <option value=""></option>
                                        @foreach (var item in ListDA)
                                        {
                                            <option value="@(item.MaDuAn)">@item.TenDuAn</option>
                                        }
                                    </select>
                                    <span class="error-validation">Vui lòng chọn dự án</span>
                                </div>
                            </div>
                        </div>
                        @if (!string.IsNullOrEmpty(Record.MaSanGiaoDich) && Record.NguoiLap?.LoaiUser == "SGG")
                        {
                            <div class="wapper-input col-lg-12">
                                <div class="row">
                                    <div class="form-group-input">
                                        <span class="title-field">Sàn giao dịch</span>
                                        <span class="input-value">@Record.TenSanGiaoDich</span>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="wapper-input col-lg-12">
                                <div class="row">
                                    <div class="form-group-input">
                                        <span class="title-field">Sàn giao dịch <i class="point-validate">*</i></span>
                                        <select id="MaSanGiaoDich" class="form-control input-validation" @onchange="OnSanGiaoDichChanged">
                                            <option value=""></option>
                                            @foreach (var item in ListSanGiaoDich)
                                            {
                                                <option value="@(item.MaSanGiaoDich)">@item.TenSanGiaoDich</option>
                                            }
                                        </select>
                                        <span class="error-validation">Vui lòng chọn sàn giao dịch</span>
                                    </div>
                                </div>
                            </div>
                        }
                        <div class="wapper-input col-lg-12">
                            <div class="row">
                                <div class="form-group-input">
                                    <span class="title-field">Nội dung <i class="point-validate">*</i></span>
                                    <textarea class="textarea-input input-validation" cols="20" id="GhiChu" @bind="Record.NoiDung" rows="3"></textarea>
                                    <span class="error-validation">Vui lòng nhập nội dung</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div data-id="2" class="tab-content-item" id="tab2">
                    <div class="col-lg-10 mx-auto row">
                        <InfoList Items="@InfoItems" />
                    </div>
                    <div class="col-lg-12 mx-auto row">
                        <div class="wapper-button-head-table mb-2" style="width: 100%">
                            <div class="button-action-title" style="margin-left: 0;">
                                <div class="icon-button" @onclick="AddPhieuBooking">
                                    <i class="mdi mdi-playlist-plus"></i>
                                </div>
                                <span>Booking</span>
                            </div>
                            <div style="margin-left: auto; display: flex; align-items: center;">
                            </div>
                        </div>
                        <div class="overflow-auto" id="container-table-fixed">
                            <table class="tbl table table-hover table-form table-detail" id="table-data">
                                <thead>
                                    <tr class="cls_custome_back">
                                        <th style="width:50px" rowspan="2" class="text-center">
                                            STT
                                        </th>
                                        <th style="width:120px" rowspan="2" class="text-center">
                                            Mã booking
                                        </th>
                                        <th style="width:120px" rowspan="2" class="text-center">
                                            Mã phiếu thu
                                        </th>
                                        <th colspan="4" style="text-align:center">
                                            Khách hàng
                                        </th>
                                        <th style="width:120px" rowspan="2" class="text-center">
                                            Số tiền
                                        </th>
                                        <th style="width:150px" rowspan="2" class="text-center">
                                            Ghi chú
                                        </th>
                                        <th style="width:50px" rowspan="2" class="text-center">
                                        </th>
                                    </tr>
                                    <tr class="cls_custome_back">
                                        <th style="width:120px;text-align:center">
                                            Đối tượng KH
                                        </th>
                                        <th style="width:180px;text-align:center">
                                            Tên khách hàng
                                        </th>
                                        <th style="width:120px;text-align:center">
                                            Loại Id Card
                                        </th>
                                        <th style="width:140px;text-align:center">
                                            Id Card
                                        </th>
                                    </tr>
                                </thead>
                                <tbody class="content-table">
                                    @if (Record.ListCT != null && Record.ListCT.Any() == true)
                                    {
                                        <Virtualize ItemsProvider="LoadCanHoProvider" Context="x" ItemSize="40" @ref="virtualizeRef">
                                            <tr>
                                                <td class="text-center">@((x.index + 1))</td>
                                                <td>
                                                    <div class="item-phieu" @onclick="() => OnEditRecord(x.item.MaBooking)">@x.item.MaBooking</div>
                                                </td>
                                                <td>
                                                    <div class="item-phieu" @onclick="() => OnEditTHRecord(x.item.MaPhieuTHThu)">@x.item.MaPhieuTHThu</div>
                                                </td>
                                                <td>@x.item.TenDoiTuongKH</td>
                                                <td>@x.item.TenKhachHang</td>
                                                <td>@x.item.TenLoaiIDCard</td>
                                                <td>@x.item.IDCard</td>
                                                <td class="text-right">@($"{x.item.SoTien:#,##0.##}")</td>
                                                <td>@x.item.GhiChu</td>
                                                <td class="text-center">
                                                    <div class="icon-button" data-title="Xóa" data-position="left">
                                                        <a href="javascript:void(0)" @onclick="() => DeleteRow(x.item)"><span><i class="mdi mdi-delete "></i></span></a>
                                                    </div>
                                                </td>
                                            </tr>
                                        </Virtualize>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container-button">
        <div class="actions-left">
            <UiButton Preset="back" Variant="secondary" OnClick="BackUrl" />
        </div>
        <div class="actions-right">
            <UiButton Preset="save" Variant="primary" OnClick="SubmitFormJs" />
        </div>
    </div>
</EditForm>
<PopupBooking @ref="phieuBookingModalRef" OnSelected="SelectedPhieuBooking" />
@code {
    private EditContext editContext;
    private PhieuDeNghiHoanTienBookingModel? Record = new();
    private List<DuAnTheoSanModel> ListDA = new();
    private List<DmSanGiaoDich> ListSanGiaoDich = new();
    private bool loadingTab2;
    private Virtualize<(PhieuDeNghiHoanTienBookingCTModel item, int index)>? virtualizeRef;
    private PopupBooking? phieuBookingModalRef;
    private List<InfoItem> InfoItems = new();
    protected override async Task OnInitializedAsync()
    {
        editContext = new EditContext(Record);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BaseService.CheckPermissionAsync("PDNHT", VuViec.Them.GetDescription());
            await JS.InvokeVoidAsync("tabHelper.initTabs");
            await JS.InvokeVoidAsync("select2Helper.initSelectChange", "MaDuAn", "Chọn dự án", true);
            await JS.InvokeVoidAsync("select2Helper.initSelectChange", "MaSanGiaoDich", "Chọn sàn giao dịch", true);

            var result = await DeNghiHoanTienBookingService.FindGetByPhieuAsync(string.Empty);
            if (result.Status)
            {
                Record = (PhieuDeNghiHoanTienBookingModel)result.Data;
                InfoItems = new()
                {
                    new() { Text="Mã phiếu", Value=Record.MaPhieu},
                    new() { Text="Ngày lập", Value=string.Format("{0:dd/MM/yyyy}", Record.NgayLap)},
                    new() { Text="Người lập", Value=Record.NguoiLap.HoVaTen},
                };
            }
            ListDA = await DeNghiHoanTienBookingService.GetByDuAnTheoSanAsync();
            if (string.IsNullOrEmpty(Record.MaSanGiaoDich))
            {
                ListSanGiaoDich = await DeNghiHoanTienBookingService.GetSanGiaoDichAsync();
            }
            StateHasChanged();
        }
        if (loadingTab2)
        {
            loadingTab2 = false;
            await JS.InvokeVoidAsync("setSmartMaxHeightDetail", "container-table-fixed", 50);
        }
    }

    private async ValueTask<ItemsProviderResult<(PhieuDeNghiHoanTienBookingCTModel item, int index)>> LoadCanHoProvider(ItemsProviderRequest request)
    {
        var items = Record.ListCT
            .Skip(request.StartIndex)
            .Take(request.Count)
            .Select((item, i) => (item, request.StartIndex + i))
            .ToList();

        return new ItemsProviderResult<(PhieuDeNghiHoanTienBookingCTModel item, int index)>(items, Record.ListCT.Count);
    }

    private async Task OnDuAnChanged(ChangeEventArgs e)
    {
        Record.MaDuAn = e.Value?.ToString();
        Record.ListCT = new();
    }

    private async Task OnSanGiaoDichChanged(ChangeEventArgs e)
    {
        Record.MaSanGiaoDich = e.Value?.ToString();
    }

    private async Task SubmitFormJs()
    {
        var dotNetRef = DotNetObjectReference.Create(this);
        await JS.InvokeVoidAsync("validateFormBlazor", "formDuAn", dotNetRef);
    }

    [JSInvokable]
    public async Task SubmitForm()
    {
        var result = await DeNghiHoanTienBookingService.SavePhieuAsync(Record);
        await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
        if (result.Status)
        {
            Nav.NavigateTo($"/denghihoantienbooking/edit/{result.Id}");
            StateHasChanged();
        }
    }

    private async Task AddPhieuBooking()
    {
        await phieuBookingModalRef?.Show(Record.MaDuAn, Record.MaSanGiaoDich);
    }

    private async Task SelectedPhieuBooking(List<PhieuDeNghiHoanTienTongHopBookingModel?> listCH)
    {
        foreach (var item in listCH)
        {
            if (item == null) continue; // ✅ Bỏ qua dòng null
            bool isExist = Record.ListCT.Any(x => x.MaBooking == item.MaPhieuBooking);
            if (!isExist)
            {
                Record.ListCT.Add(new PhieuDeNghiHoanTienBookingCTModel
                    {
                        MaPhieuTHThu = item.MaPhieuTH,
                        MaBooking = item.MaPhieuBooking,
                        TenDoiTuongKH = item.TenDoiTuongKhachHang,
                        TenKhachHang = item.TenKhachHang,
                        TenLoaiIDCard = item.TenLoaiIdCard,
                        IDCard = item.IdCard,
                        SoTien = item.SoTien,
                        GhiChu = item.NoiDung
                    });
            }
        }
        //  listKey = Guid.NewGuid(); // ✅ đặt ở ngoài foreach, sau khi Add xong
        if (virtualizeRef != null)
        {
            await virtualizeRef.RefreshDataAsync();
        }
        // StateHasChanged();
    }

    private async Task DeleteRow(PhieuDeNghiHoanTienBookingCTModel? item)
    {
        Record.ListCT.Remove(item);
        await virtualizeRef?.RefreshDataAsync();
        StateHasChanged();
    }

    private async Task OnEditRecord(string maPhieuGC)
    {
        await JS.InvokeVoidAsync("openInNewTab", "/phieugiucho/edit/" + maPhieuGC);
    }

    private async Task OnEditTHRecord(string maPhieu)
    {
        await JS.InvokeVoidAsync("openInNewTab", "/tonghopbooking/edit/" + maPhieu);
    }

    private async Task ClickTab2()
    {
        loadingTab2 = true;
    }

    private void BackUrl()
    {
        Nav.NavigateTo("/denghihoantienbooking");
    }
}
