@page "/vitri"
@using VTTGROUP.Domain.Helpers
@using VTTGROUP.Domain.Model.ViTri
@using VTTGROUP.Infrastructure.Database
@using VTTGROUP.Infrastructure.Services
@using VTTGROUP.Blazor.Components.CompChilds
@inject ViTriService ViTriService
@inject BlockService BlockService
@inject IBaseService BaseService
@inject LoadingService Loading
@inject IJSRuntime JS
@inject NavigationManager Nav
@inject IWebHostEnvironment _env

<h1 class="legend-title">Danh sách vị trí</h1>
<div class="rounded-xl bg-white p-4 space-y-3 wraper-content-page">
    <div class="relative z-50">
        <div class="flex flex-wrap items-end gap-3">
            <UiSelect Icon="mdi mdi-office-building-outline"
                      Placeholder="Chọn dự án"
                      Items="ListDA.Select(x => new UiSelect.SelectItem(x.MaDuAn!, x.TenDuAn!))"
                      @bind-Value="selectedMaDuAn"
                      OnChange="OnDuAnChanged" />
            <div class="ml-auto flex items-center gap-2">
                <AddButton Text="Vị trí" OnClick="Insert" />
                <button style="
        display: inline-flex;
        align-items: center;
        gap: 8px;
        border: 1px solid #EDAD0F;
        padding: 0 12px;
        border-radius: 8px;
        height: 40px;
        background-color: #FDF7E7;
        color: #EDAD0F;
        font-weight: 600;
        font-size: 16px;
        font-family: 'Inter', sans-serif;
        cursor: pointer;
    "
                        title="Import"
                        @onclick="Import">
                    <i class="mdi mdi-cloud-upload"
                       style="
           color: #EDAD0F;
           font-size: 16px;
       ">
                    </i>
                    <span style="
           color: #EDAD0F;
           font-weight: 600;
           font-size: 16px;
           font-family: 'Inter', sans-serif;
       ">
                        Import
                    </span>
                </button>
            </div>
        </div>
    </div>
    <div class="flex items-center gap-3 my-3">
        <div class="w-[360px] md:w-[480px]">
            <InputSearch @bind-Value="search" OnSearch="Search" />
        </div>
    </div>
    <SelectedDeleteList Count="@SelectedCount" OnRemoveList="RemoveSelectedAsync" OnDeleteList="@DeleteSelectedAsync" />
    <div class="container-table-detail">
        <div class="container-table-fixed has-paging">
            <table class="tbl table-form table-detail treeTable" id="table-data">
                <thead>
                    <tr class="cls_custome_back">
                        <th style="width: 40px" class="text-center">
                            <input type="checkbox" class="form-check-input" checked="@IsSelectAll"
                                   @onchange="(e) => OnCheckboxAllChanged(e)" />
                        </th>
                        <th style="width: 50px" class="text-center">STT</th>
                        <th style="width: 130px" class="text-center">Mã vị trí</th>
                        <th style="width: 220px" class="text-center">Tên vị trí</th>
                        <th style="width: 220px" class="text-center">Tên dự án</th>
                        <th style="width: 140px;" class="text-center">Hệ số</th>
                        <th style="width: 40px">&nbsp;</th>
                    </tr>
                </thead>

                <tbody class="content-table">
                    @if (ChiTietDuAn != null && ChiTietDuAn.Any())
                    {
                        var stt = 1;
                        foreach (var item in ChiTietDuAn)
                        {
                            <tr class="initialized">
                                <td class="text-center">
                                    @if (item.SoLuongVMK == 0)
                                    {
                                        <input type="checkbox" class="form-check-input"
                                               checked="@item.IsSelected"
                                               @onchange="(e) => OnCheckboxChanged(item, e)" />
                                    }
                                </td>
                                <td style="text-align:center">
                                    <span>@stt</span>
                                </td>
                                <td>
                                    <span>
                                        @item.MaViTri
                                    </span>
                                </td>
                                <td>
                                    <span>@item.TenViTri</span>
                                </td>
                                <td>
                                    <span>@item.TenDuAn</span>
                                </td>
                                <td style="text-align:right">
                                    @string.Format("{0:#,#0.####}", item.HeSoViTri)
                                </td>
                                <td class="text-center">
                                    <div class="d-flex justify-content-center align-items-center flex-column">
                                        <div class="icon-button" data-title="Cập nhật" data-position="left">
                                            <a href="javascript:void(0)" @onclick="() => OnEditRecord(item.MaViTri!)">
                                                <span><i class="mdi mdi-pencil"></i></span>
                                            </a>
                                        </div>
                                        @if (item.SoLuongVMK == 0)
                                        {
                                            <div class="icon-button" data-title="Xóa" data-position="left">
                                                <a href="javascript:void(0)" @onclick="() => ShowConfirmDelete(item.MaViTri!, item.MaDuAn!)">
                                                    <span><i class="mdi mdi-delete"></i></span>
                                                </a>
                                            </div>
                                        }
                                    </div>
                                </td>
                            </tr>
                            stt++;
                        }
                    }
                </tbody>
            </table>

            @if (ChiTietDuAn == null || !ChiTietDuAn.Any())
            {
                <div class="p-2">Không có dữ liệu</div>
            }
        </div>
    </div>

    <ConfirmDeleteModal ModalId="confirmDeleteModal"
                        Title="Xác nhận xoá thông tin">
        <Description>
            <p class="delete-desc">
                Bạn có chắc muốn xóa vị trí này <strong>@selectedMaCongViec</strong> không?
            </p>
        </Description>

        <DeleteButton>
            <button type="button" class="btn-delete" @onclick="ConfirmDelete">
                Xoá vĩnh viễn
            </button>
        </DeleteButton>
    </ConfirmDeleteModal>
    <ConfirmDeleteModal ModalId="confirmDeleteListModal"
                        Title="Xác nhận xoá thông tin">
        <Description>
            <p class="delete-desc">
                Bạn có chắc muốn xóa vị trí này không?
            </p>
        </Description>

        <DeleteButton>
            <button type="button" class="btn-delete" @onclick="ConfirmDeleteList">
                Xoá vĩnh viễn
            </button>
        </DeleteButton>
    </ConfirmDeleteModal>
    <ImportFileModal DuAnOptions="@ListDA" @ref="importFileModalRef" OnUploaded="HandleFileUpload" />
</div>
@code {
    private DotNetObjectReference<Index>? _dotNetRef;
    private List<DaDanhMucDuAn> ListDA = new();
    private List<ViTriModel> ChiTietDuAn = new();
    private string? selectedMaCongViec;
    private string? selectedMaDuAn;
    private string? selectedMaDuAnDelete;
    int SelectedCount => ChiTietDuAn?.Count(x => x.IsSelected) ?? 0;
    private bool IsSelectAll = false;
    private ImportFileModal? importFileModalRef;
    private bool isLoading = false;
    string? search;
    protected override async Task OnInitializedAsync()
    {
        await BaseService.CheckPermissionAsync("TienDoTCDA", VuViec.Xem.GetDescription());
        ListDA = await BlockService.GetByDuAnAsync();
        await LoadData(); // Blazor tự render lại sau khi hàm này xong → không cần StateHasChanged()
    }

    private async Task ShowConfirmDelete(string maViTri, string maDuAn)
    {
        selectedMaCongViec = maViTri;
        selectedMaDuAnDelete = maDuAn;
        await JS.InvokeVoidAsync("bootstrapModal.show", "#confirmDeleteModal");
    }

    private async Task ConfirmDelete()
    {
        if (string.IsNullOrEmpty(selectedMaCongViec)) return;

        var result = await ViTriService.DeleteViTriAsync(selectedMaCongViec, selectedMaDuAnDelete);
        await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
        await JS.InvokeVoidAsync("bootstrapModal.hide", "#confirmDeleteModal");

        await LoadData();
        selectedMaCongViec = string.Empty;
        selectedMaDuAnDelete = string.Empty;
        StateHasChanged();
    }

    private async Task RemoveSelectedAsync()
    {
        IsSelectAll = false;
        foreach (var item in ChiTietDuAn)
        {
            item.IsSelected = IsSelectAll;
        }
    }

    private async Task DeleteSelectedAsync()
    {
        await JS.InvokeVoidAsync("bootstrapModal.show", "#confirmDeleteListModal");
    }

    private async Task ConfirmDeleteList()
    {
        Loading.Show();
        try
        {
            var selected = ChiTietDuAn.Where(d => d.IsSelected).ToList();
            if (selected.Count == 0) return;
            var result = await ViTriService.DeleteListAsync(selected);
            await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
            await JS.InvokeVoidAsync("bootstrapModal.hide", "#confirmDeleteListModal");
            await LoadData();
            StateHasChanged();
        }
        catch (Exception ex)
        {
            await JS.InvokeVoidAsync("showToast", "Lỗi", ex.Message, false);
        }
        finally
        {
            Loading.Hide();
        }
    }

    private async Task OnCheckboxAllChanged(ChangeEventArgs e)
    {
        IsSelectAll = (bool)e.Value;
        foreach (var item in ChiTietDuAn)
        {
            if (item.SoLuongVMK == 0)
            {
                item.IsSelected = IsSelectAll;
            }
        }
    }

    private async Task OnCheckboxChanged(ViTriModel item, ChangeEventArgs e)
    {
        item.IsSelected = (bool)e.Value;
        IsSelectAll = ChiTietDuAn.All(x => x.IsSelected || !(x.SoLuongVMK == 0));
    }

    private async Task OnDuAnChanged(string? maDuAn)
    {
        if (isLoading) return;

        selectedMaDuAn = string.IsNullOrWhiteSpace(maDuAn) ? null : maDuAn;
        await LoadData();
    }

    private async Task Import()
    {
        await importFileModalRef?.ShowFileModal(selectedMaDuAn);
    }

    private async Task Search(string? keyword)
    {
        search = keyword;
        await LoadData();
    }

    private async Task HandleFileUpload()
    {
        await LoadData();
    }

    private async Task LoadData()
    {
        try
        {
            ChiTietDuAn = await ViTriService.GetViTriAsync(selectedMaDuAn, search);
        }
        finally
        {
        }
    }

    private void OnEditRecord(string maViTri)
        => Nav.NavigateTo($"/vitri/edit/{maViTri}");

    private void Insert()
        => Nav.NavigateTo("/vitri/create");
}
