@page "/hopdongmuaban"
@using VTTGROUP.Blazor.Components.CompChilds
@using VTTGROUP.Blazor.Components.Pages.Paging
@using VTTGROUP.Domain.Model
@using VTTGROUP.Domain.Model.HopDongMuaBan
@using VTTGROUP.Domain.Model.PhieuDatCoc
@using VTTGROUP.Infrastructure.Database
@using VTTGROUP.Infrastructure.Services
@using VTTGROUP.Domain.Helpers
@inject IBaseService BaseService
@inject CanHoService CanHoService
@inject PhieuDatCocService PhieuDatCocService
@inject HopDongMuaBanService HopDongMuaBanService
@inject IJSRuntime JS
@inject NavigationManager Nav
@inject IWebHostEnvironment _env
<h1 class="legend-title">Hợp đồng mua bán</h1>
<div class="rounded-xl bg-white p-4 space-y-3 wraper-content-page">
    <div class="relative z-50">
        <div class="flex flex-wrap items-end gap-3">
            <div class="flex items-center">
                <div class="result-label-icon">
                    <i class="mdi mdi-calendar-today"></i>
                    <DateRangePicker OnDateRangeChanged="OnDateRangeChanged" @ref="dateRangeRef" />
                </div>
            </div>

            <UiSelect Icon="mdi mdi-file-document"
                      Placeholder="Chọn dự án"
                      Items="ListDA.Select(x => new UiSelect.SelectItem(x.MaDuAn!, x.TenDuAn!))"
                      @bind-Value="selectedDuAn"
                      OnChange="OnDTKHChanged" />

            <div class="ml-auto flex items-center gap-2">
                <MoreFilterPopup OnTrangThaiChanged="OnTTDChanged"
                                 OnReset="ResetAllParam" @ref="morePopupRef" />
                <AddButton Text="Hợp đồng" OnClick="Insert" />
            </div>
        </div>
    </div>
    <div class="flex items-center gap-3 my-3">
        <div class="w-[360px] md:w-[480px]">
            <InputSearch @bind-Value="search" OnSearch="Search" />
        </div>
        <div class="ml-auto h-11 flex items-center">
            <Pagination Page="@_page"
                        TotalPages="@totalPage"
                        TotalItems="@totalCount"
                        OnPageChanged="HandlePageChanged"
                        OnPageSizeChanged="HandlePageSizeChanged" />
        </div>
    </div>
    <SelectedDeleteList Count="@SelectedCount" OnRemoveList="RemoveSelectedAsync" OnDeleteList="@DeleteSelectedAsync" />
    <div class="container-table-detail">
        <div class="container-table-fixed has-paging">
            <table class="tbl table-form table-detail treeTable" id="table-data">
                <thead>
                    <tr class="cls_custome_back">
                        <th style="width: 40px" class="text-center" rowspan="2">
                            <input type="checkbox" class="form-check-input" checked="@IsSelectAll"
                                   @onchange="(e) => OnCheckboxAllChanged(e)" />
                        </th>
                        <th style="width: 40px" rowspan="2" class="text-center">
                            STT
                        </th>
                        <th style="width: 130px" rowspan="2" class="text-center">Hệ thống</th>
                        <th style="width: 220px" rowspan="2" class="text-center">Dự án</th>
                        <th colspan="2" class="text-center">Khách hàng</th>
                        <th style="width: 70px" rowspan="2" class="text-center">Phiếu ĐK</th>
                        <th colspan="3" style="text-align:center">Thông tin căn hộ</th>
                        <th style="width: 200px" rowspan="2" class="text-center">Nội dung</th>
                        <th style="width: 90px" rowspan="2" class="text-center">
                            Trạng thái
                        </th>
                        <th style="width: 50px" rowspan="2">
                            &nbsp;
                        </th>
                    </tr>
                    <tr class="cls_custome_back">
                        <th style="width: 140px;text-align:center">Thông tin</th>
                        <th style="width: 70px;text-align:center">Thao tác</th>
                        <th style="width: 70px;text-align:center">Căn hộ</th>
                        <th style="width: 100px;text-align:center">Giá bán ST</th>
                        <th style="width: 100px;text-align:center">Phụ lục</th>
                    </tr>
                </thead>
                <tbody class="content-table">
                    @if (listHD != null && listHD.Count > 0)
                    {
                        @foreach (var item in listHD)
                        {
                            <tr class="initialized">
                                <td class="text-center">
                                    @if (item.TrangThaiDuyet < 1 && item.NguoiLap == maNhanVienHT)
                                    {
                                        <input type="checkbox" class="form-check-input"
                                               checked="@item.IsSelected"
                                               @onchange="(e) => OnCheckboxChanged(item, e)" />
                                    }
                                </td>
                                <td style="text-align:center">
                                    <span>@item.STT</span>
                                </td>
                                <td>
                                    <div class="item-phieu" @onclick="() => OnEditRecord(item.MaHopDong.ToString())">@item.MaHopDong</div>
                                    <span class="created-label">@item.HoVaTen</span>
                                    <div class="created-date-label">@string.Format("{0:dd/MM/yyyy}", item.NgayLap)</div>
                                </td>
                                <td>
                                    <span>@item.TenDuAn</span>
                                </td>
                                @*Hiển thị thông tin của khách hàng*@
                                <td>
                                    <div class="item-phieu" @onclick="() => OnMaKHRecord(item.MaKhachHang.ToString())">@item.MaKhachHang</div>
                                    <span class="created-label">@item.TenKhachHang</span>
                                    <div class="created-date-label">@string.Format("{0:dd/MM/yyyy}", item.NgayKy)</div>
                                </td>
                                @*Icon hiển thị popup*@
                                <td class="text-center">
                                    <div class="icon-button" data-title="Lịch sử thay đổi KH" data-position="left">
                                        <a href="javascript:void(0)" @onclick="() => OnViewLichSuKhachHang(item.MaKhachHang)">
                                            <span><i class="mdi mdi-history"></i></span>
                                        </a>
                                    </div>
                                </td>
                                <td>
                                    <div class="item-phieu"><span class="input-value" @onclick="() => OnViewPDK(item.MaDatCoc)">@item.MaDatCoc</span></div>
                                </td>
                                <td>
                                    <div class="item-phieu"><span class="input-value" @onclick="() => OnViewCH(item.MaCanHo, item.MaDuAn)">@item.TenSanPham</span></div>
                                </td>
                                <td style="text-align:right">
                                    @string.Format("{0:N0}", item.GiaBanSauThue)
                                </td>
                                <td>
                                    <div data-bs-toggle="tooltip" data-bs-placement="top" data-bs-title="Phụ lục">PL: <span @onclick="() => TaoPLHopDong(item.MaHopDong!)" style="color:blue"> [@item.SoPhuLuc] </span></div>
                                </td>
                                <td>
                                    <span>@item.NoiDung</span>
                                </td>
                                <td class="text-center">
                                    <span class="status-label" style="color: @(item.Mau)" @onclick="() => LichSuDuyetPhieu(maCongViec, item.MaHopDong)">
                                        @item.TenTrangThai
                                    </span>
                                </td>
                                <td class="text-center">
                                    @if (item.TrangThaiDuyet < 1 && item.NguoiLap == maNhanVienHT)
                                    {
                                        <div class="d-flex justify-content-center align-items-center flex-column">
                                            <div class="icon-button" data-title="Cập nhật" data-position="left">
                                                <a href="javascript:void()" @onclick="() => OnEditRecord(item.MaHopDong!)">
                                                    <span>
                                                        <i class="mdi mdi-pencil">
                                                        </i>
                                                    </span>
                                                </a>
                                            </div>
                                            <div class="icon-button" data-title="Xóa" data-position="left">
                                                <a href="javascript:void(0)" @onclick="() => ShowConfirmDelete(item.MaHopDong!)"><span><i class="mdi mdi-delete "></i></span></a>
                                            </div>
                                        </div>
                                    }
                                    else
                                    {
                                        @if (item.MaTrangThai == "3" && item.IsDaKy == false)
                                        {
                                            <div class="icon-button" data-title="Cập nhật ngày ký" data-position="left">
                                                <a href="javascript:void(0);"
                                                   @onclick="() => CapNhatNgayKy(item)">
                                                    <i class="bi bi-calendar2-event text-warning fs-5"></i>
                                                </a>
                                            </div>
                                        }
                                    }
                                </td>
                            </tr>
                        }
                    }
                </tbody>
            </table>
            @if (listHD == null || !listHD.Any())
            {
                <div class="p-2">Không có dữ liệu</div>
            }
        </div>
    </div>
    <VTTGROUP.Blazor.Components.CompChilds.ConfirmDeleteModal ModalId="confirmDeleteModal"
                                                              Title="Xác nhận xoá thông tin">
        <Description>
            <p class="delete-desc">
                Bạn có chắc muốn xóa phiếu đặt cọc này <strong>@selectedMaPhieu</strong> không?
            </p>
        </Description>

        <DeleteButton>
            <button type="button" class="btn-delete" @onclick="ConfirmDelete">
                Xoá vĩnh viễn
            </button>
        </DeleteButton>
    </VTTGROUP.Blazor.Components.CompChilds.ConfirmDeleteModal>
    <VTTGROUP.Blazor.Components.CompChilds.ConfirmDeleteModal ModalId="confirmDeleteListModal"
                                                              Title="Xác nhận xoá thông tin">
        <Description>
            <p class="delete-desc">
                Bạn có chắc muốn xóa danh sách phiếu đặt cọc này không?
            </p>
        </Description>

        <DeleteButton>
            <button type="button" class="btn-delete" @onclick="ConfirmDeleteList">
                Xoá vĩnh viễn
            </button>
        </DeleteButton>
    </VTTGROUP.Blazor.Components.CompChilds.ConfirmDeleteModal>
</div>
<PopupLichSuDuyetPhieu @ref="guiDuyetModalRef" />
<CanHoDetails @ref="canHoModalRef" />
<PopupNgayKy @ref="ngayKyModalRef" OnSelected="OnNgayKySelected" />
<PopupLichSuKhachHangChiTiet @ref="popupLichSuKHRef" />
@code {
    private DotNetObjectReference<Index>? _dotNetRef;
    private string? selectedDuAn;
    private string? selectedMaPhieu;
    private bool isLoading = false;
    int _page = 1;
    int _pageSize = 10;
    int totalPage = 1;
    int totalCount;
    string? search;
    List<HopDongMuaBanPaginDto> listHD = new();
    private List<DaDanhMucDuAn> ListDA = new();
    private string? tuNgay { get; set; } = DateTime.Now.AddMonths(-1).ToString("dd/MM/yyyy");
    private string? denNgay { get; set; } = DateTime.Now.ToString("dd/MM/yyyy");
    private PopupLichSuDuyetPhieu? guiDuyetModalRef;
    DateRangePicker dateRangeRef;
    MoreFilterPopup morePopupRef;
    private string? selectedTrangThaiDuyet;
    private string maCongViec = "HopDongMuaBan";
    private CanHoDetails? canHoModalRef;
    private string maNhanVienHT;
    private PopupNgayKy? ngayKyModalRef;
    private PopupLichSuKhachHangChiTiet? popupLichSuKHRef;
    int SelectedCount => listHD?.Count(x => x.IsSelected) ?? 0;
    private bool IsSelectAll = false;
    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender)
        {
            await BaseService.CheckPermissionAsync(maCongViec, VuViec.Xem.GetDescription());
            _dotNetRef = DotNetObjectReference.Create(this);
            await JS.InvokeVoidAsync("select2Helper.initSelectChange", "MaDuAn", "Chọn dự án", true);
            await JS.InvokeVoidAsync("tooltipHelper.init");
            ListDA = await CanHoService.GetByDuAnAsync();
            maNhanVienHT = await BaseService.MaNhanVienHienTai();
            await LoadHopDongMuaBan();
            StateHasChanged();
        }
        // if (listHD.Any())
        // {
        //     var config = new List<FixColumnConfig>
        //     {
        //         new FixColumnConfig { left = 0 },
        //         new FixColumnConfig { right = 0 }
        //     };
        //     await JS.InvokeVoidAsync("applyStickyColumnsDynamic", "table-data", config);
        // }

    }

    private async Task ShowConfirmDelete(string maPhieu)
    {
        var coQuyen = await BaseService.KiemTraQuyenVuViec(maCongViec, VuViec.Xoa.GetDescription());
        if (coQuyen == false)
        {
            await JS.InvokeVoidAsync("showToast", "Thông báo", "Bạn không có quyền xóa. Xin vui lòng liên hệ quản trị", false);
            return;
        }
        selectedMaPhieu = maPhieu;
        await JS.InvokeVoidAsync("bootstrapModal.show", "#confirmDeleteModal");
    }

    private async Task ConfirmDelete()
    {
        if (selectedMaPhieu == null || string.IsNullOrEmpty(selectedMaPhieu))
        {
            return;
        }
        var result = await HopDongMuaBanService.DeleteHDMBAsync(selectedMaPhieu, _env.WebRootPath);
        await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
        await JS.InvokeVoidAsync("bootstrapModal.hide", "#confirmDeleteModal");
        await LoadHopDongMuaBan();
        selectedMaPhieu = string.Empty;
        StateHasChanged();
    }

    private async Task OnDTKHChanged(string? duAn)
    {
        if (isLoading) return;
        selectedDuAn = string.IsNullOrWhiteSpace(duAn) ? null : duAn;
        _page = 1;
        await LoadHopDongMuaBan();
    }

    private async Task LoadHopDongMuaBan()
    {
        isLoading = true;
        try
        {
            var (data, total) = await HopDongMuaBanService.GetPagingAsync(selectedDuAn, _page, _pageSize, search, selectedTrangThaiDuyet, tuNgay, denNgay);
            listHD = data;
            totalCount = total;
            totalPage = (int)Math.Ceiling((double)totalCount / _pageSize);
        }
        finally
        {
            isLoading = false;
        }
    }

    private async Task HandlePageChanged(int newPage)
    {
        _page = newPage;
        await LoadHopDongMuaBan();
    }

    private async Task HandlePageSizeChanged(int newPageSize)
    {
        _pageSize = newPageSize;
        _page = 1;
        await LoadHopDongMuaBan(); // Gọi lại API với PageSize mới
    }

    private async Task OnEditRecord(string maPhieu)
    {
        Nav.NavigateTo($"/hopdongmuaban/edit/{maPhieu}");
    }
    private void Insert()
    {
        Nav.NavigateTo("/hopdongmuaban/create");
        return;
    }

    private void TaoPLHopDong(string maPhieu)
    {
        Nav.NavigateTo($"/phuluchopdongmuaban/index/{maPhieu}");
    }

    private async Task Search(string? keyword)
    {
        search = keyword;
        _page = 1;
        await LoadHopDongMuaBan();
    }

    async Task NextPage()
    {
        _page++;
        await LoadHopDongMuaBan();
    }

    async Task PreviousPage()
    {
        _page--;
        await LoadHopDongMuaBan();
    }
    public void Dispose()
    {
        _dotNetRef?.Dispose();
    }

    private async Task OnDateRangeChanged((string? Start, string? End) range)
    {
        tuNgay = range.Start;
        denNgay = range.End;
        await LoadHopDongMuaBan();
    }

    private async Task LichSuDuyetPhieu(string MaCongViec, string MaPhieu)
    {
        await guiDuyetModalRef?.ShowLSDP(MaCongViec, MaPhieu);
    }

    private async Task ResetAllParam()
    {
        _page = 1;
        _pageSize = 10;
        search = null;
        selectedTrangThaiDuyet = null;
        selectedDuAn = null;
        tuNgay = null;
        denNgay = null;
        await LoadHopDongMuaBan();
        await dateRangeRef.ResetAsync();
        await morePopupRef.RestAllMore();
        await JS.InvokeVoidAsync("select2Helper.resetMultipleSelects", new[] { "MaDuAn", "TrangThaiDuyet" });
        StateHasChanged();
    }

    private async Task ResetMore()
    {
        _page = 1;
        _pageSize = 10;
        await LoadHopDongMuaBan();
    }

    private async Task OnTTDChanged(string trangThai)
    {
        var newTTD = trangThai;
        if (newTTD == selectedTrangThaiDuyet || isLoading)
        {
            return;
        }
        selectedTrangThaiDuyet = newTTD;
        _page = 1;
        await LoadHopDongMuaBan();
    }

    private async Task OnMaKHRecord(string maKH)
    {
        await JS.InvokeVoidAsync("openInNewTab", "/khachhang/edit/" + maKH);
    }

    private async Task OnViewLichSuKhachHang(string maKhachHang)
    {
        if (popupLichSuKHRef != null && !string.IsNullOrEmpty(maKhachHang))
        {
            await popupLichSuKHRef.Show(maKhachHang);
        }
    }

    private async Task OnViewPDK(string maPhieuDK)
    {
        await JS.InvokeVoidAsync("openInNewTab", "/phieudatcoc/edit/" + maPhieuDK);
    }

    private async Task OnViewCH(string maCanHo, string maDuAn)
    {
        if (canHoModalRef != null)
        {
            var canHo = await BaseService.ThongTinChiTietSanPham(maDuAn, maCanHo);
            await canHoModalRef.Show(canHo);
        }
    }

    private async Task CapNhatNgayKy(HopDongMuaBanPaginDto item)
    {
        await ngayKyModalRef?.ShowThongTin(item);
    }

    private async Task OnNgayKySelected(HopDongMuaBanModel item)
    {
        var result = await HopDongMuaBanService.XacNhanNgayKyAsync(item);
        await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
        await LoadHopDongMuaBan();
    }

    private async Task RemoveSelectedAsync()
    {
        IsSelectAll = false;
        foreach (var item in listHD)
        {
            item.IsSelected = IsSelectAll;
        }
    }

    private async Task DeleteSelectedAsync()
    {
        await JS.InvokeVoidAsync("bootstrapModal.show", "#confirmDeleteListModal");
    }

    private async Task ConfirmDeleteList()
    {
        var selected = listHD.Where(d => d.IsSelected).ToList();
        if (selected.Count == 0) return;
        var result = await HopDongMuaBanService.DeleteListAsync(selected, _env.WebRootPath);
        await JS.InvokeVoidAsync("showToast", "Thông báo", result.Message, result.Status);
        await JS.InvokeVoidAsync("bootstrapModal.hide", "#confirmDeleteListModal");
        await LoadHopDongMuaBan();
        StateHasChanged();
    }

    private async Task OnCheckboxAllChanged(ChangeEventArgs e)
    {
        IsSelectAll = (bool)e.Value;
        foreach (var item in listHD)
        {
            if (item.TrangThaiDuyet < 1 && item.NguoiLap == maNhanVienHT)
            {
                item.IsSelected = IsSelectAll;
            }
        }
    }

    private async Task OnCheckboxChanged(HopDongMuaBanPaginDto item, ChangeEventArgs e)
    {
        item.IsSelected = (bool)e.Value;
        IsSelectAll = listHD.All(x => x.IsSelected);
    }
}
