@using VTTGROUP.Blazor.Components.CompChilds
@using VTTGROUP.Blazor.Components.Pages.Paging
@using VTTGROUP.Domain.Model
@using VTTGROUP.Domain.Model.PhieuDuyetGia
@using VTTGROUP.Infrastructure.Database
@using VTTGROUP.Infrastructure.Services
@inject PhieuDuyetGiaService PhieuDuyetGiaService
@inject IJSRuntime JS

<div class="modal fade" id="PopupAddChinhSach" tabindex="-1" aria-hidden="true">
	<div class="modal-dialog modal-xl modal-dialog-centered draggable-modal">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">Danh sách chính sách thanh toán</h5>
				<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Đóng" @onclick="OnClosePupop"></button>
			</div>
			<div class="modal-body modal-wraper" id="modal-body">
				<div class="container-search-home">
					<div class="search-row" style="margin-bottom: 15px;">
						<div class="wapper-congtrinh container-form">
							<div class="result-label-icon">
								<InputSearch @bind-Value="search" OnSearch="Search" />
							</div>
						</div>
					</div>
				</div>
				<div class="container-table-detail">
					<div class="container-table-fixed has-paging">
						<table class="tbl table-form table-detail treeTable" id="table-data">
							<thead>
								<tr class="cls_custome_back">
									<th style="width: 50px">
										STT
									</th>
									<th style="width: 130px">
										Mã chính sách
									</th>
									<th style="width: 150px">
										Tên chính sách
									</th>
									<th style="width: 250px">
										Nội dung
									</th>
									<th style="width: 50px" class="text-center">
										<input type="checkbox" class="form-check-input" checked="@IsSelectAll"
											   @onchange="OnCheckboxAllChanged" />
									</th>
								</tr>
							</thead>
							<tbody class="content-table">
								@if (listDatas != null && listDatas.Count > 0)
								{
									var i = 1;
									@foreach (var item in listDatas)
									{
										<tr class="initialized">
											<td style="text-align:center">
												<span>@i</span>
											</td>
											<td>@item.MaCSTT</td>
											<td>@item.TenCSTT</td>
											<td>
												<span>@item.NoiDung</span>
											</td>
											<td class="text-center">
												<input type="checkbox" class="form-check-input"
													   checked="@item.IsSelected"
													   @onchange="(e) => OnCheckboxChanged(item, e)" />
											</td>
										</tr>
										i++;
									}
								}
							</tbody>
						</table>
						@if (listDatas == null || !listDatas.Any())
						{
							<div class="p-2">Không có dữ liệu</div>
						}
					</div>
					<Pagination Page="@_page"
								TotalPages="@totalPage"
								OnPageChanged="HandlePageChanged"
								OnPageSizeChanged="HandlePageSizeChanged" />
				</div>
			</div>
			<div class="modal-footer">
				<button type="button" class="button button-action button-luu-phieu" @onclick="TriggerChoose">
					Chọn
				</button>
				<button type="button" class="button button-action button-huy" data-bs-dismiss="modal" @onclick="OnClosePupop">Đóng</button>
			</div>
		</div>
	</div>
</div>
@code {
	[Parameter]
	public EventCallback<List<PhieuDuyetGiaCSTTPagingDto>?> OnSelected { get; set; }
	private string maDuAn = string.Empty;
	private bool isLoading = false;
	int _page = 1;
	int _pageSize = 10;
	int totalPage = 1;
	int totalCount;
	string? search;
	List<PhieuDuyetGiaCSTTPagingDto> listDatas = new();
	private bool IsSelectAll = false;
	List<PhieuDuyetGiaCSTTPagingDto> listSelecteds = new();

	public async Task OnClosePupop()
	{
		IsSelectAll = false;
		foreach (var item in listDatas)
		{
			item.IsSelected = IsSelectAll;
		}
		StateHasChanged();
	}

	protected override async Task OnInitializedAsync()
	{
		await LoadData();
	}

	private async Task LoadData()
	{
		isLoading = true;
		try
		{
			var (data, total) = await PhieuDuyetGiaService.GetChinhSachThanhToanByDuAnPopupAsync(maDuAn, _page, _pageSize, search);
			listDatas = data;
			totalCount = total;
			totalPage = (int)Math.Ceiling((double)totalCount / _pageSize);
		}
		finally
		{
			isLoading = false;
		}
	}
	private async Task TriggerChoose()
	{

		var selectedNhanViens = listDatas
			.Where(x => x.IsSelected)
			.ToList();
		if (selectedNhanViens.Any())
		{
			listSelecteds = selectedNhanViens;
			await OnSelected.InvokeAsync(listSelecteds);
			await JS.InvokeVoidAsync("showToast", "Thông báo", "Chọn chính sách thanh toán thành công", true);
		}
		else
		{
			await JS.InvokeVoidAsync("showToast", "Thông báo", "Không có chính sách thanh toán nào được chọn", false);
		}
	}
	private void OnCheckboxAllChanged(ChangeEventArgs e)
	{
		IsSelectAll = (bool)e.Value;
		foreach (var item in listDatas)
		{
			item.IsSelected = IsSelectAll;
		}
	}

	private async Task OnCheckboxChanged(PhieuDuyetGiaCSTTPagingDto item, ChangeEventArgs e)
	{
		item.IsSelected = (bool)e.Value;
		IsSelectAll = listDatas.All(x => x.IsSelected);
	}

	public async Task ShowPopupAsync(string maDuAn)
	{
		_page = 1;
		await LoadData();
		await JS.InvokeVoidAsync("bootstrapModal.show", "#PopupAddChinhSach");
		await JS.InvokeVoidAsync("modalHelper.makeAllDraggable");
		StateHasChanged();
	}

	private async Task HandlePageChanged(int newPage)
	{
		_page = newPage;
		await LoadData();
	}

	private async Task HandlePageSizeChanged(int newPageSize)
	{
		_pageSize = newPageSize;
		_page = 1;
		await LoadData(); // Gọi lại API với PageSize mới
	}

	private async Task Search(string? keyword)
	{
		search = keyword;
		_page = 1;
		await LoadData();
	}
}

